@using ST.Core.Extensions
@using ST.Identity.Abstractions
@using ST.Identity.Abstractions.Models.MultiTenants
@using ST.MultiTenant.Abstractions.ViewModels

@{
    ViewData["Title"] = Localizer["system_my_company"];
    ViewData["layoutId"] = Guid.Parse("587592ed-cd11-432e-b689-a5fce2a9859c");
    var user = (ApplicationUser)ViewBag.User;
    var roles = (string)ViewBag.UserRoles;
    var organization = (Tenant)ViewBag.Organization;
    ViewData["TenantCallBackUrl"] = "/CompanyManage";
    var tenantEditModel = new EditTenantViewModel(organization)
    {
        CountrySelectListItems = (IEnumerable<SelectListItem>)ViewBag.Countries
    };
}

@section Styles
{
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css">
    <style type="text/css">
        .table td {
            white-space: normal !important;
        }

        .select2-dropdown.increased-z-index {
            z-index: 999999;
        }
    </style>
}

<div class="row">
    <div class="col-lg-2 mb-2">
        <div class="card h-400">
            <div class="card-body">
                <div class="mx-3 my-2 px-2">
                    <img src="/Tenant/GetImage?id=@user.TenantId" class="img-thumbnail img-fluid rounded-circle" alt="@user.Name">
                </div>
                <div class="text-center">
                    <h5 class="weight-400">@Localizer["iso_hello"].Value.FirstCharToUpper(), @user.UserName</h5>
                    <p>
                        <span class="weight-400">@Localizer["iso_company_name"] : </span><span class="text-muted">@organization.Name</span>
                    </p>
                    <p>
                        <span class="weight-400">@Localizer["system_adress"] : </span><span class="text-muted">@organization.Address</span>
                    </p>
                    <p>
                        <span class="weight-400">@Localizer["iso_company_website"] : </span><span class="text-muted">@organization.SiteWeb</span>
                    </p>
                    <p>
                        <span class="weight-400">@Localizer["roles"] : </span><span class="text-muted">@roles</span>
                    </p>
                </div>

                <hr class="my-4 dashed">

                <p>
                    <span class="weight-400">@Localizer["system_phone"] : </span><span class="text-muted">@user.PhoneNumber</span>
                </p>
                <p>
                    <span class="weight-400">@Localizer["email"] : </span><span class="text-muted">@user.Email</span>
                </p>

            </div>
        </div>
    </div>
    <div class="col-lg-10">
        <div class="card mb-4">
            <div class="card-header p-0">
                <ul class="nav nav-tabs active-thik nav-primary border-0" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link px-4 py-3 active rounded-0" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">@Localizer["iso_menu_company_settings"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-4 py-3 rounded-0" id="messages-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="false">@Localizer["users"]</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <partial name="Partial/_EditTenantDataPartialView" model="@tenantEditModel" view-data="@ViewData"/>
                    </div>
                    <div class="tab-pane fade show" id="users" role="tabpanel" aria-labelledby="users-tab">
                        <JList asp-for="@ViewBag.UsersListSettings"></JList>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"></script>
    <script src="~/assets/MultiTenantPlugins/company-manage.js"></script>
    <script src="~/assets/MultiTenantPlugins/company-manage-invite.js"></script>
    @if (!string.IsNullOrEmpty(tenantEditModel.CountryId))
    {
        <script>
        loadCitiesByCountryId("@tenantEditModel.CountryId", "@tenantEditModel.CityId");
    </script>
    }
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}