@using ST.Identity.Data.UserProfiles
@inject IStringLocalizer Localizer
@inject UserManager<ApplicationUser> UserManager
@{
	var user = await UserManager.GetUserAsync(User);
}
<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->

<aside class="left-sidebar">
	<!-- Sidebar scroll-->
	<div class="scroll-sidebar">
		<!-- Sidebar navigation-->
		<nav class="sidebar-nav">
			<ul id="sidebarnav">
				<li class="nav-small-cap">PERSONAL</li>
				<li>
					<a class="has-arrow " href="#" aria-expanded="false">
						<i class="mdi mdi-bullseye"></i><span class="hide-menu">@Localizer["apps"]</span>
					</a>
					<ul aria-expanded="false" class="collapse">
						<li>
							<a asp-controller="Handler" asp-action="RedirectToApp" asp-route-app="core">CORE</a>
						</li>
						<li>
							<a asp-controller="Handler" asp-action="RedirectToApp" asp-route-app="crm">CRM</a>
						</li>
						<li>
							<a asp-controller="Handler" asp-action="RedirectToApp" asp-route-app="hrm">HRM</a>
						</li>
						<li>
							<a asp-controller="Handler" asp-action="RedirectToApp" asp-route-app="pm">PM</a>
						</li>
					</ul>
				</li>
				<li>
					<a class="has-arrow " href="#" aria-expanded="false">
						<i class="mdi mdi-alert"></i><span class="hide-menu">Administration</span>
					</a>
					<ul>
						<li>
							<a class="has-arrow " href="#" aria-expanded="false">
								<i class="mdi mdi-apple"></i><span class="hide-menu">Applications</span>
							</a>
							<ul>
								<li>
									<a asp-action="Index" asp-controller="ApplicationsManagement">
										<span class="hide-menu">@Localizer["apps_management"]</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a class="has-arrow " href="#" aria-expanded="false">
								<i class="mdi mdi-account"></i><span class="hide-menu">People</span>
							</a>
							<ul>
								<li>
									<a asp-action="Index" asp-controller="Users">
										<span class="hide-menu">Users</span>
									</a>
								</li>
								<li>
									<a asp-action="Index" asp-controller="Roles">
										<span class="hide-menu">Roles</span>
									</a>
								</li>
								<li>
									<a asp-action="Index" asp-controller="Groups">
										<span class="hide-menu">Groups</span>
									</a>
								</li>
								<li>
									<a asp-action="Index" asp-controller="Profile">
										<span class="hide-menu">Profile</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a class="has-arrow " href="#" aria-expanded="false">
								<i class="mdi mdi-calendar"></i><span class="hide-menu">Structure</span>
							</a>
							<ul>
								<li>
									<a href="#" class="has-arrow">
										<i class="mdi mdi-table"></i><span class="hide-menu">Entities</span>
									</a>
									<ul>
										<li>
											<a asp-action="Index" asp-controller="Table" asp-route-page="1" asp-route-perPage="10">@Localizer["table"]</a>
										</li>
										<li>
											<a asp-action="Index" asp-controller="EntityType">@Localizer["entity_type"]</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="has-arrow">
										<i class="mdi mdi-file"></i><span class="hide-menu">Appearance</span>
									</a>
									<ul aria-expanded="false" class="collapse">
										<li>
											<a asp-action="Index" asp-controller="Form">Forms</a>
										</li>
										<li>
											<a asp-action="Layouts" asp-controller="Page">Layouts</a>
										</li>
										<li>
											<a asp-action="Index" asp-controller="Page">Pages</a>
										</li>
										<li>
											<a asp-action="Index" asp-controller="PageType">Page Types</a>
										</li>
										<li>
											<a asp-action="Index" asp-controller="Blocks">Render Blocks</a>
										</li>
										<li>
											<a asp-action="Index" asp-controller="BlockCategory">Render Block Categories</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a class="has-arrow " href="#" aria-expanded="false">
								<i class="mdi mdi-contain"></i><span class="hide-menu">Configuration</span>
							</a>
							<ul>
								<li>
									<a class="has-arrow " href="#" aria-expanded="false">
										<i class="mdi mdi-transcribe"></i><span class="hide-menu">@Localizer["localization"]</span>
									</a>
									<ul aria-expanded="false" class="collapse">
										<li>
											<a asp-action="GetLanguages" asp-controller="Localization" asp-route-page="1" asp-route-perPage="10">@Localizer["languages"]</a>
										</li>
										<li>
											<a asp-action="Index" asp-controller="Localization" asp-route-page="1" asp-route-perPage="10">Keys</a>
										</li>
									</ul>
								</li>
								<li>
									<a class="has-arrow " href="#" aria-expanded="false">
										<i class="mdi mdi-table"></i><span class="hide-menu">@Localizer["process"]</span>
									</a>
									<ul aria-expanded="false" class="collapse">
										<li>
											<a asp-action="Index" asp-controller="Process">@Localizer["process_designer"]</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a class="has-arrow " href="#" aria-expanded="false">
								<i class="mdi mdi-file-document"></i><span class="hide-menu">Reports</span>
							</a>
							<ul>
								<li>
									<a class="has-arrow " href="#" aria-expanded="false">
										<i class="mdi mdi-transcribe"></i><span class="hide-menu">Audit</span>
									</a>
									<ul aria-expanded="false" class="collapse">
										<li>
											<a asp-action="Index" asp-controller="Audit">Audit CORE</a>
										</li>
									</ul>
									<ul aria-expanded="false" class="collapse">
										<li>
											<a asp-action="Hrm" asp-controller="Audit">Audit HRM</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</li>

			</ul>
		</nav>
		<!-- End Sidebar navigation -->
	</div>
	<!-- End Sidebar scroll-->
	<!-- Bottom points-->
	<div class="sidebar-footer">
		<!-- item-->
		<a href="" class="link" data-toggle="tooltip" title="Settings"><i class="ti-settings"></i></a>
		<!-- item-->
		<a href="" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
		<!-- item-->
		<a href="#" class="link sa-logout" title="Logout" data-toggle="tooltip"><i class="mdi mdi-power"></i></a>
	</div>
	<!-- End Bottom points-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
