@{
    ViewData["Title"] = Localizer["reports_list"];
}
@section Styles
{
    <link rel="stylesheet" href="~/lib/Chart.js/Chart.min.css" />
    <link rel="stylesheet" href="~/assets/ReportScripts/report.css" />
    <style>
        .dataTables_wrapper {
            width: 99% !important;
        }
    </style>
}

@section PreScripts
{
    <script src="~/lib/Chart.js/Chart.bundle.min.js"></script>
    <script src="~/lib/Chart.js/Chart.min.js"></script>
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">@Localizer["reports"]</h4>
        <div class="row">
            <div class="col-md-12">
                <blockquote>
                    @Localizer["report_section_description"]
                </blockquote>
            </div>
        </div>
        <div class="table-dataTable">
            <div class="mt-2">
                <div class="d-flex">
                    <div class="mr-auto">
                        <div class="form-group">
                            <a asp-action="ManageDynamicReportFolders" class="btn btn-primary btn-sm">
                                <i class="mdi mdi-circle-edit-outline mr-2" aria-hidden="true"></i>@Localizer["manage_report_folders"]
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-2">
                <div class="d-flex">
                    <div class="mr-auto">
                        <div class="form-group">
                            <a asp-action="Save" class="btn btn-primary btn-sm">
                                <i class="mdi mdi-circle-edit-outline mr-2" aria-hidden="true"></i>@Localizer["add_report"]
                            </a>
                            <small>@Localizer["add_report_description"]</small>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-bordered" id="reportTable">
                <thead>
                    <tr>
                        <th>@Localizer["name"]</th>
                        <th>@Localizer["report_folder"]</th>
                        <th>@Localizer["entity_name"]</th>
                        <th>@Localizer["created"]</th>
                        <th>@Localizer["changed"]</th>
                        <th>@Localizer["author"]</th>
                        <th>@Localizer["is_deleted"]</th>
                        <th>@Localizer["list_actions"]</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
</div>
<div style="width:50%" id="displayReportBox"></div>


@section Scripts{
    <script src="~/assets/ReportScripts/report.js"></script>

    <script type="text/javascript" language="javascript">
		function getTokenAntiForgery() {
			const token = '@Html.AntiForgeryToken()';
			return $(token).val();
		}
    </script>
    <script type="text/javascript" language="javascript">
		$(document).ready(function ($) {
			const tableId = '#reportTable';
			if ($.fn.DataTable.isDataTable(tableId)) {
				alert();
				$(tableId).dataTable().fnDestroy();
				$(tableId).dataTable().empty();
			}
			$(tableId).DataTable({
				"language": {
					"url": `http://cdn.datatables.net/plug-ins/1.10.19/i18n/${window.getCookie("language")}.json`
				},
				dom: '<"table_render_reportTable" <"CustomizeColumns">lBfr<"table-responsive"t>ip >',
				"processing": true, // for show progress bar
				"serverSide": true, // for process server side
				"filter": true, // this is for disable filter (search box)
				"orderMulti": false, // for disable multiple column at once
				"destroy": true,
				"ajax": {
					"url": '@Url.Action("LoadPageData")',
					"type": "POST"
				},
				"columns": [
					{ "data": "name" },
					{ "data": "dynamicReportFolder.name" },
					{ "data": "reportDataModel.tables" },
					{ "data": "created" },
					{ "data": "changed" },
					{ "data": "author" },
					{ "data": "isDeleted" },
					{
						data: null,
						"render": function(data, type, row, meta) {
							return `<div class="btn-group" role="group" aria-label="Action buttons">
									<a class="btn btn-warning btn-sm" onclick="GetReportDataById('@Url.Action("GetReportDataById")', '${row.id}', 'displayReportBox')" href="javascript:">Display</a>
									<a class="btn btn-info btn-sm" href="@Url.Action("Save")?id=${row.id}">Edit</a>
									<a class="btn btn-danger btn-sm deleteReport" data-request-url="@Url.Action("DeleteReport", "DynamicReports")" data-value="${row.id}" href="javascript:">Delete</a>
									</div>`;
						}
					}
				],
                drawCallback: function () {
                    if ($('.table_render_reportTable .dataTables_paginate .pagination li').length > 3) {
                        $('.table_render_reportTable .dataTables_paginate').show();
                    } else {
                        $('.table_render_reportTable .dataTables_paginate').hide();
                    }
                }
			});
			$("#reportTable").on("click", ".deleteReport", function () {
				var requestUrl = $(this).data('request-url');
				var id = $(this).data('value');
				Swal.fire({
					title: 'Are you sure?',
					text: "You won't be able to revert this!",
					type: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'Yes, delete it!'
				}).then((result) => {
					if (result.value) {
						$.ajax({
							url: requestUrl,
							content: "application/json; charset=utf-8",
							type: 'DELETE',
							data: { id: id },
							success: function (result) {
								if (result.is_success) {
									swal({
										position: 'top-end',
										type: 'success',
										title: result.result,
										showConfirmButton: false,
										timer: 1500
									}).then(() => {
										$('#reportTable').DataTable().ajax.reload();
									});
								} else {
									swal({
										position: 'top-end',
										type: 'error',
										title: result.error_keys[0].message,
										showConfirmButton: false,
										timer: 1500
									});
								}
							},
							error: function (jqXhr) {
								window.ShowError(jqXhr.status);
							}
						});
					}
				});
			});
		});
    </script>
}