@model GR.Report.Abstractions.Models.ViewModels.DynamicReportViewModel
@{
    ViewData["Title"] = Model.Id == Guid.Empty ? Localizer["create_dynamic_report"] : $"{Localizer["edit_dynamic_report"]} \"{Model.Name}\"";
}

@section PreScripts
{
    <script src="~/lib/Chart.js/Chart.bundle.min.js"></script>
    <script src="~/lib/Chart.js/Chart.min.js"></script>
}

@section Styles
{
    <link rel="stylesheet" href="~/lib/Chart.js/Chart.min.css" />
    <link rel="stylesheet" href="~/assets/ReportScripts/report.css" />
}

@section Scripts
{
    <script src="~/assets/ReportScripts/report.js"></script>
    @if (Model.Id != Guid.Empty)
    {
        <script>
			$(document).ready(function () {
				try {
					var data = @Html.Raw(Model.ReportData);
					$.when(LoadReportData(data)).done(function () {
						LoadFinished = true;
					});
				}
				catch (err) {
					LoadNew();
				}
			 });
        </script>

    }
    else
    {
        <script>
			LoadNew();
        </script>
    }
}


<div class="multilevel-collapse">
    <div class="card mb-3">
        <div class="card-header d-flex justify-content-between align-items-center">
            <button class="btn btn-link collapsed" data-toggle="collapse"
                    data-target="#data_options" aria-expanded="false"
                    aria-controls="data_options">
                <span class="collapse-icon mr-1"></span>
                @Localizer["data_options"]
            </button>
        </div>
        <div class="card-body">
            <div id="data_options" class="collapse">
                <div class="card mt-1">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                data-target="#report_tables" aria-expanded="false"
                                aria-controls="report_tables">
                            <span class="collapse-icon mr-1"></span>
                            @Localizer["tables"]
                        </button>
                    </div>
                    <div class="card-body">
                        <div id="report_tables" class="collapse">
                            <div class="form-group mt-3">
                                <select class="form-control tableSelect d-none" id="tableSelect" data-request-url="@Url.Action("GetTablesAjax", "DynamicReports")"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-1">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                data-target="#report_relationships" aria-expanded="false"
                                aria-controls="report_relationships">
                            <span class="collapse-icon mr-1"></span>
                            @Localizer["relationships"]
                        </button>
                        <button class="btn btn-primary ml-auto text-white fw-500 mw-180" id="AddRelationship"
                                role="button">
                            <i class="material-icons mr-2">add_circle_outline</i>
                            @Localizer["add_relationship"]
                        </button>
                    </div>
                    <div class="card-body">
                        <div id="report_relationships" class="collapse">
                            <div class="mt-3" id="pnlRelationships" data-request-url="@Url.Action("GetTableColumnsAjax", "DynamicReports")"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header d-flex justify-content-between align-items-center">
            <button class="btn btn-link collapsed" data-toggle="collapse"
                    data-target="#display_options" aria-expanded="false"
                    aria-controls="display_options">
                <span class="collapse-icon mr-1"></span>
                @Localizer["display_options"]
            </button>
            <button class="btn btn-primary ml-auto text-white fw-500 mw-180" id="AddField"
                    role="button">
                <i class="material-icons mr-2">add_circle_outline</i>
                @Localizer["add_field"]
            </button>
        </div>
        <div class="card-body">
            <div id="display_options" class="collapse">
                <div class="mt-3" id="pnlFields" data-request-url="@Url.Action("GetAggregateTypes", "DynamicReports")"></div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header d-flex justify-content-between align-items-center">
            <button class="btn btn-link collapsed" data-toggle="collapse"
                    data-target="#filters_group_options" aria-expanded="false"
                    aria-controls="filters_group_options">
                <span class="collapse-icon mr-1"></span>
                @Localizer["filters_group_options"]
            </button>
            <button class="btn btn-primary ml-auto text-white fw-500 mw-180" id="AddFilter"
                    role="button">
                <i class="material-icons mr-2">add_circle_outline</i>
                @Localizer["add_filter"]
            </button>
        </div>
        <div class="card-body">
            <div id="filters_group_options" class="collapse">
                <div class="mt-3" id="pnlFilters" data-request-url="@Url.Action("GetFilterTypes", "DynamicReports")"></div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header d-flex justify-content-between align-items-center">
            <button class="btn btn-link collapsed" data-toggle="collapse"
                    data-target="#report_charts" aria-expanded="false"
                    aria-controls="report_charts">
                <span class="collapse-icon mr-1"></span>
                @Localizer["charts"]
            </button>
        </div>
        <div class="card-body">
            <div id="report_charts" class="collapse">
                <div class="row mt-3">
                    <div class="col-9" id="pnlCharts" data-request-url="@Url.Action("GetChartFieldTypes", "DynamicReports")"></div>
                    <div class="col-3">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <select class="form-control chartSelector" id="chartSelector" data-request-url="@Url.Action("GetChartTypes", "DynamicReports")">
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-primary text-white fw-500 mw-180 d-flex align-items-center ml-auto" id="AddChart"
                                        role="button">
                                    <i class="material-icons mr-2">add_circle_outline</i>
                                    @Localizer["add_chart"]
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="position-fixed report-actions py-2">
    <div class="pull-left d-flex h-100 pl-3 py-2">
        <button id="openReportModal" href="#" class="btn btn-block btn-inverse button-border d-flex align-items-center py-2 px-3">
            <i class="material-icons mr-2">save</i>
            @Localizer["save"]
        </button>
        <button id="runReport" data-request-url="@Url.Action("GetReportData", "DynamicReports")" class="btn btn-block mt-0 ml-2 btn-primary d-flex align-items-center py-2 px-3">
            <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="16.001" height="16" viewBox="0 0 16.001 16">
                <path id="Icon" d="M8,16a8,8,0,1,1,8-8A8.009,8.009,0,0,1,8,16ZM8,1.6A6.4,6.4,0,1,0,14.4,8,6.407,6.407,0,0,0,8,1.6ZM6.4,12h0L3.2,8.8,4.328,7.672,6.4,9.736l5.272-5.272L12.8,5.6,6.4,12Z" transform="translate(0)" fill="#fff"></path>
            </svg>
            @Localizer["run"]
        </button>
    </div>
</div>

<div class="modal fade" id="saveReportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Localizer["save_report"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-md-4"><span class="pull-right">@Localizer["name"]</span></label>
                                    <div class="col-md-1"></div>
                                    <input class="form-control col-md-6" id="reportName" asp-for="Name" />
                                    <input type="hidden" id="reportId" asp-for="Id" />
                                </div>
                                <div class="row mt-2">
                                    <label class="col-md-4"><span class="pull-right">@Localizer["report_folder"]</span></label>
                                    <div class="col-md-1"></div>
                                    <select id="folderSelector" asp-items="@(new SelectList(ViewBag.Folders, "Id", "Name", Model.DynamicReportFolder?.Id))" class="form-control col-md-6 custom-select"></select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-success text-white" id="saveReport" data-request-url="@Url.Action("Save", "DynamicReports")">@Localizer["save"]</a>
                                <button type="button" class="btn btn-inverse " data-dismiss="modal">@Localizer["cancel"]</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="row ml-1">
        <div class="mt-3 mb-3 mr-2">
            <button class="btn btn-danger m-t-20" id="openReportModal">@Localizer["save"]</button>
        </div>
        <div class="mt-3 mb-3">
            <button class="btn btn-info m-t-20" id="runReport" data-request-url="@Url.Action("GetReportData", "DynamicReports")">@Localizer["run"]</button>
        </div>
    </div>*@
<div id="queryResultTable">
</div>
<div id="chart-box">
</div>


