@using GR.Dashboard.Abstractions
@using GR.Identity.Abstractions
@{
	ViewData["Title"] = "Dashboard builder";
}

@inject IWidgetGroupRepository WidgetGroupRepository
@inject IDashboardService DashboardService
@inject RoleManager<GearRole> RoleManager

@section Styles{
	<link href="~/assets/dashboard-plugins/dashboard-builder-plugin.css" rel="stylesheet" />
}

<div class="row">
	<div class="col-12">
		<a id="saveConfiguration" href="#" class="btn btn-success float-right m-3">@Localizer["save"]</a>
	</div>

	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-md-9">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">Canvas</h5>
								<div class="left-canvas droppable-row" id="canvas">
									<div class="spinner-border text-primary" role="status">
										<span class="sr-only">Loading</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">Common</h5>
								<ul class="list-group">
									<li class="list-group-item draggable-row" data-type="row">Row</li>
								</ul>
								@foreach (var group in WidgetGroupRepository.WidgetGroups.OrderBy(x => x.Order).ToList())
								{
									<h5 class="card-title mt-2">@group.Name</h5>
									<ul class="list-group">
										@{
											var widgets = (await DashboardService.GetWidgetGroupRowsAsync(group.Id)).ToList();
										}
										@if (widgets.Any())
										{
											foreach (var w in widgets)
											{
												<li class="list-group-item draggable-widget" data-id="@w.Id" data-group-id="@group.Id">@w.Name</li>
											}
										}
										else
										{
											<li class="list-group-item" style="color: red">No Widgets</li>
										}
									</ul>
								}

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal leftright-slide right-align fade" id="widget-configuration-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header px-4">
				<h5 class="modal-title">Widget configuration</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span class="material-icons">close</span>
				</button>
			</div>
			<div class="modal-body p-4">
				<form id="configuration-form">
					<div class="card">
						<div class="card-body">
							<h5>@Localizer["system_customization"]</h5>
							<div class="row p-t-20">
								<div class="col-md-12">
									<div class="form-group">
										<label for="WidgetWidth">Width</label>
										<input name="width" id="WidgetWidth" type="number" placeholder="auto" class="form-control" />
									</div>
								</div>

								<div class="col-md-12">
									<div class="form-group">
										<label for="WidgetHeight">Height</label>
										<input name="height" id="WidgetHeight" type="number" placeholder="auto" class="form-control" />
									</div>
								</div>

								<div class="col-md-12">
									<div class="form-group">
										<label for="WidgetColor">BackGround Color</label>
										<input name="backGroundColor" id="WidgetColor" type="color" class="form-control" style="height: 2em" />
									</div>
								</div>

								<div class="col-md-12">
									<div class="form-group">
										<label for="WidgetRadius">Border radius</label>
										<input name="borderRadius" id="WidgetRadius" placeholder="0" type="number" class="form-control" />
									</div>
								</div>

								<div class="col-md-12">
									<div class="form-group">
										<label for="WidgetClasses">Classes</label>
										<input name="classAttribute" id="WidgetClasses" type="text" class="form-control" />
									</div>
								</div>

								<div class="col-md-12">
									<div class="form-group">
										<label for="WidgetBorderStyle">Border Style</label>
										<select name="borderStyle" id="WidgetBorderStyle" type="text" class="form-control">
											<option value="0">None</option>
											<option value="1">Dotted</option>
											<option value="2">Dashed</option>
											<option value="3">Solid</option>
											<option value="4">Double</option>
											<option value="5">Groove</option>
											<option value="6">Ridge</option>
											<option value="7">Inset</option>
											<option value="8">Outset</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer px-4">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["system_close"]</button>
				<button id="configuration-modal-save" type="button" class="btn btn-primary">@Localizer["save"]</button>
			</div>
		</div>
	</div>
</div>



<div class="modal leftright-slide right-align fade" id="widget-permissions-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header px-4">
				<h5 class="modal-title">Widget configuration</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span class="material-icons">close</span>
				</button>
			</div>
			<div class="modal-body p-4">
				<form id="form-permissions">
					<div class="card">
						<div class="card-body">
							<h5>@Localizer["roles"]</h5>
							<ul class="list-group m-b-0" id="widget-roles-container">
								@foreach (var role in RoleManager.Roles.ToList())
								{
									<li class="list-group-item">
										<div class="custom-control custom-checkbox">
											<input id="check_@role.Id" type="checkbox" class="custom-control-input vis-check" data-id="@role.Id">
											<label for="check_@role.Id" class="custom-control-label">@role.Name</label>
										</div>
									</li>
								}
							</ul>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer px-4">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["system_close"]</button>
				<button id="form-permissions-btn" type="button" class="btn btn-primary">@Localizer["save"]</button>
			</div>
		</div>
	</div>
</div>


@section Scripts{
	<script src="~/assets/dashboard-plugins/dashboard-builder-plugin.js" asp-append-version="true"></script>
	<script>
		$(function () {
			const helper = new ST();
			const toast = new ToastNotifier();
			const dashboardId = helper.getParamFormUrl("dashboardId");
			if (!dashboardId) {
				location.href = "/dashboard";
			}
			const manager = new DashboardManager();
			manager.set("dashboardId", dashboardId);
			manager.init();
			$("#saveConfiguration").on("click",
				function () {
					manager.saveAsync().then(response => {
						toast.notify({
							text: "Saved",
							icon: "success"
						});
					}).catch(e => {
						toast.notify({
							text: "Error"
						});
					});
				});
		});
	</script>
}