@using ST.CORE.Models.RoleViewModels
@model ST.CORE.Models.RoleViewModels.UpdateRoleViewModel
@inject IStringLocalizer Localize
@{
	ViewData["Title"] = Localize["role_edit_title"];
}

<div class="row">
	<div class="col-lg-12">
		<div class="card card-outline-primary">
			<div class="card-header">
				<h4 class="m-b-0 text-white">@Localize["role_edit_title"]</h4>
			</div>
			<div class="card-body">
				<form asp-action="Edit" role="form">
					@Html.HiddenFor(x => x.IsNoEditable)
					@Html.HiddenFor(x => x.ClientName)
					@Html.HiddenFor(x => x.TenantId)
					<input type="hidden" asp-for="Id" />
					<div class="form-body">
						<h3 class="card-title">Role Info</h3>
							<h3 class="m-b-0">Client @Model.ClientName</h3>
						<hr>
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<div class="row p-t-20">
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="Name" class="control-label"></label>
									@if (!@Model.IsNoEditable)
									{
										<input asp-for="Name" class="form-control" />
									}
									else
									{
										<input asp-for="Name" class="disabled form-control" />
										<span asp-validation-for="Name" class="text-danger"></span>
									}
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="Title" class="control-label"></label>
									<input asp-for="Title" class="form-control" />
									<span asp-validation-for="Title" class="text-danger"></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="SelectedProfileId"></label>
									<select asp-for="SelectedProfileId" multiple asp-items="@(new MultiSelectList(Model.Profiles, "Id", "ProfileName", null))" class="form-control"></select>
									<span asp-validation-for="SelectedProfileId" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="SelectedPermissionId"></label>
									<select asp-for="SelectedPermissionId" multiple asp-items="@(new MultiSelectList(Model.Permissions, "Id", "PermissionName", null))" class="form-control"></select>
									<span asp-validation-for="SelectedPermissionId" class="text-danger"></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									@Html.CheckBoxFor(m => m.IsDeleted, new { @checked = "checked" })
									@Html.LabelFor(m => m.IsDeleted)
								</div>
							</div>
						</div>

					</div>
					<div class="row button-group">
						<div class="col-lg-2 col-md-3">
							<button type="submit" class="btn btn-block btn-success"> <i class="fa fa-check"></i> @Localize["save"]</button>
						</div>
						<div class="col-lg-2 col-md-3">
							<button type="reset" class="btn btn-block  btn-inverse"> @Localize["reset"]</button>
						</div>
						<div class="col-lg-2 col-md-3">
							<a asp-action="Index" class="btn btn-block btn-link"> @Localize["back"]</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script type="text/javascript" language="javascript">
		$(document).ready(function() {
			$('#SelectedProfileId').select2({
				placeholder:"Select a profile..."
			});
			$('#SelectedRoleId').select2({
				placeholder:"@Localize["sel_role"]"
			});
			$('#SelectedPermissionId').select2({
				placeholder:"Select permission..."
			});
		});
	</script>
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
