@using GR.ECommerce.Abstractions
@using GR.ECommerce.Abstractions.Models
@model GR.ECommerce.Abstractions.ViewModels.ProductViewModels.ProductViewModel

@inject IProductService<Product> ProductService

@{
    var currency = (await ProductService.GetGlobalCurrencyAsync()).Result;
}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Add variation</a>

        <div class="card card-outline-info mt-2">
            <div class="tab-content">
                <div class="card-body">
                    <div class="col-lg-12 col-md-12 row mt-3" id="listVariationProduct">

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Add Variation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="clearForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <form id="createOptionForm">
                            <input type="text" id="VariationId" name="VariationId" class="form-control" value="" hidden />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-12 p-t-20">
                                <div class="form-group">
                                    <label for="ProductOptionId">Select Option</label>
                                    <div class="input-group mb-3">
                                        <select id="ProductOptionId" class="form-control" aria-describedby="addOptionBtn">
                                            <option value="">Select option</option>

                                            @foreach (var productOption in Model.ProductOption)
                                            {
                                                <option label="@productOption.Text" value="@productOption.Value" id="select_@productOption.Value"></option>
                                            }

                                        </select>
                                        <div class="input-group-append">
                                            <a id="addOptionBtn" href="#" class="btn btn-secondary">Add</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Option</th>
                                            <th scope="col">Value</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="appendTableOption">
                                        <tr class="empty">
                                            <td colspan="3">No option set</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="mb-2 col-md-12 ">
                                <div class="form-group">
                                    <label for="PriceVariation">Price variation</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">@currency.Symbol</span>
                                        </div>
                                        <input id="PriceVariation" type="text" class="form-control" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:void(0)" class="btn btn-success" data-dismiss="modal" id="saveOptionBtn"> @Localizer["save"]</a>
                        <a href="#" class="btn btn-secondary" data-dismiss="modal" onclick="clearForm()">Close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@using (Html.BeginPartialViewScripts())
{
    <script type="text/javascript">
	const optionList = $("#listVariationProduct");
	$(document).ready(function () {
		getProductVariation();

        $("#addOptionBtn").on('click',
            function() {
				var elm = $("#ProductOptionId")[0].selectedOptions[0];
				$("#select_" + $(elm).attr("value")).hide();
				$("#ProductOptionId").val([]);
                const conf = {
                    label: $(elm).attr("label"),
                    optionId: $(elm).attr("value"),
                    value: ""
                };
                appendTableOption(conf);
            });

        function appendTableOption(element) {
			const target = $("#appendTableOption");
			target.find(".empty").remove();
            target.append(`<tr id='tr_${element.optionId}'>
                <td>${element.label}</td>
                <td>
                    <input type='text' id="attr_val_${element.optionId}" class='form-control' value='${element.value}'/>
                </td>
                <td>
                    <a href='#' data-targetAttribute='${element.optionId
                }' class='btn btn-secondary' onclick='removeOption("${element.optionId}")'>
                    <i class='mdi mdi-close'></i></a>
                </td>`);
        }

        $("#saveOptionBtn").on("click", function () {
	        const variationDetails = [];
			$.each($('#appendTableOption')[0].children, function (index, element) {
				var optionId = element.id.substring(3);
				if (optionId) {
					variationDetails.push({
						ProductOptionId: optionId,
						Value: $(`#attr_val_${optionId}`).val()
					});
				}
	        });

            const model = {
	            productId: '@Model.Id',
                price: $("#PriceVariation").val(),
	            variationId: $("#VariationId").val(),
	            productVariationDetails :variationDetails
	        };

	        $.ajax({
		        url: '@Url.Action("AddOrUpdateProductVariation", "ProductsApi")',
		        method: 'POST',
		        contentType: "application/json; charset=utf-8",
		        data: JSON.stringify(model),
		        success: function(data) {
                    if (data.is_success) {
	                    getProductVariation();
				        toast.notify(
					        { heading: "Info", text: window.translate("system_inline_saved"), icon: "success" });
			        } else {
				        toast.notifyErrorList(data.error_keys);
			        }
		        },
		        error: function(error) {
			        console.log(error);
		        }
			});

	        clearForm();
        });
	});

	function removeOption(id) {
		$("#tr_" + id).remove();
		$("#select_" + id).show();
	}

    function getProductVariation() {
        optionList.empty();

		$.ajax({
			url: '@Url.Action("GetProductVariations", "ProductsApi")',
			method: 'get',
			contentType: "application/json; charset=utf-8",
			data: {
				productId: '@Model.Id'
			},
			success: function(data) {
                if (data.is_success) listProductVariation(data.result);
			},
			error: function(error) {
				console.log(error);
			}
        });
	}

	function listProductVariation(data) {
		if (data.length == 0) {
			optionList.html("<span>No variations</span>");
		}

		$.each(data, function(i, element) {
			var row = "";
			$(element.variationDetails).each(function(j, element2) {
				row += `<tr><td><b>${element2.option}</b></td> <td>${element2.value}</td></tr>`;
			});

			optionList.append(
				`<div class="col-lg-5 col-md-5 row border m-2 p-2" id="${element.variationId}" >
					<div class="col-md-12">
						<span>Product Variation</span>
						<a href="#" class="btn btn-warning ml-3" data-toggle="modal" data-target="#exampleModalCenter" onclick="getVariationById('${element.variationId}')">
							<span class="fa fa-pencil"></span>
						</a>
						<a class="close" data-dismiss="modal" onclick="removeVariation('${element.variationId}')">
							<span aria-hidden="true">&times;</span>
						</a>
					</div>
					<table class="table  table-border m-2">
						<tr>
							${row}
						</tr>
					</table>
					Price:  ${element.price} @currency.Symbol
				</div>`);
		});
	}

	function clearForm() {
		$("#ProductOptionId").val([]);
		$('#ProductOptionId option').each(function() {
			$(this).show();
		});

		$("#appendTableOption").empty();
		$("#PriceVariation").val("");
	}

	function removeVariation(idVariation) {
		$.ajax({
			url: '@Url.Action("RemoveProductVariationOption", "ProductsApi")',
			method: 'POST',
			data: {
				productId: '@Model.Id',
				variationId: idVariation
			},
			success: function(data) {
				if (data.is_success) {
					getProductVariation();
					toast.notify(
						{ heading: "Info", text: window.translate("system_inline_saved"), icon: "success" });
				} else {
					toast.notifyErrorList(data.error_keys);
				}
			},
			error: function(error) {
				console.log(error);
			}
		});

	}

	function getVariationById(idVariation) {
		$.ajax({
			url: '@Url.Action("GetProductVariationById", "ProductsApi")',
			method: 'get',
			contentType: "application/json; charset=utf-8",
			data: {
				productId: '@Model.Id',
				variationId: idVariation
			},
			success: function(data) {
				if (data.is_success) {
                    editVariation(data.result);
				} else{
                    toast.notifyErrorList(data.error_keys);
                }
			},
			error: function(error) {
				console.log(error);
			}
		});
	}

    function editVariation(data) {
		const target = $("#appendTableOption");
		target.find(".empty").remove();

        $(data.variationDetails).each(function (index, element) {
	        $("#select_" + element.optionId).hide();
			target.append(`<tr id='tr_${element.optionId}'>
                <td>${element.option}</td>
                <td>
                    <input type='text' id="attr_val_${element.optionId}" class='form-control' value='${element.value}'/>
                </td>
                <td>
                    <a href='#' data-targetAttribute='${element.optionId
			    }' class='btn btn-secondary' onclick='removeOption("${element.optionId}")'>
                    <i class='mdi mdi-close'></i></a>
                </td>`);
        });

        $("#PriceVariation").val(data.price);
        $("#VariationId").val(data.variationId);
    }
    </script>
}