@model GR.MultiTenant.Abstractions.ViewModels.RegisterCompanyViewModel
@{
	ViewData["Title"] = Localizer["system_multitenant_register_new"];
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@Localizer["system_register"]</title>

	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="~/lib/jquery-toast-plugin/jquery.toast.min.css" />
	<link rel="stylesheet" type="text/css" href="~/lib/select2/css/select2.min.css" />
	<link rel="stylesheet" type="text/css" href="~/lib/select2-bootstrap-theme/select2-bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css">
	<link rel="stylesheet" type="text/css" href="~/themes/admin/css/style.css" asp-append-version="true" />
	<style>
		.headContainer {
			margin-top: 1em;
		}

		.tab {
			display: none;
		}

		input.invalid {
			background-color: #ffdddd;
		}

		.form-progress {
			bottom: 0;
			font-size: 18px;
		}

		.step-progress {
			font-weight: 400;
		}

			.step-progress .step {
				color: #0848C8;
			}

		.step-buttons .btn {
			padding: 10px 30px;
		}

		.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.focus:active, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover, .btn-primary.focus, .btn-primary:focus {
			background-color: #0848C8;
			border: 1px solid #0848C8;
			outline: none;
		}

		.dropify-wrapper,
		.dropify-wrapper input {
			height: 100px;
		}

		.input-group-append {
			position: absolute;
			right: 0;
		}

			.input-group-append a,
			.input-group-append a:hover,
			.input-group-append a:focus {
				background-color: transparent;
				border: 0;
				outline: none !important;
				padding: 8px 10px;
				color: #707070;
				box-shadow: none;
			}

		.register-page .login-box {
			padding-top: 50px !important;
			padding-bottom: 50px !important;
		}

		#register-company .form-content {
			overflow-y: auto;
			height: calc(100% - 50px);
		}

		/* width */
		::-webkit-scrollbar {
			margin-left: 5px;
			width: 2px;
			background-color: #e4e2e2;
		}

		/* Track */
		::-webkit-scrollbar-track {
			border-radius: 2px;
		}

		/* Handle */
		::-webkit-scrollbar-thumb {
			background: #807e7e;
			border-radius: 3px;
		}
	</style>
</head>
<body>
	<!-- ============================================================== -->
	<!-- Preloader - style you can find in spinners.css -->
	<!-- ============================================================== -->
	<div class="preloader">
		<svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
		</svg>
	</div>
	<!-- ============================================================== -->
	<!-- Main wrapper - style you can find in pages.scss -->
	<!-- ============================================================== -->
	<section id="wrapper" class="register-page login-register login-sidebar d-flex">
		<div class="login-box col-5">
			<a href="/" class="text-center db">
				<div class="logo-image"></div>
			</a>
			<h2 class="mt-5 mb-3 fw-600">@Localizer["system_multitenant_register_new"]</h2>
			<div class="form-horizontal position-relative" id="loginform" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" style="height: calc(100% - 170px);">
				<form class="h-100" id="register-company" asp-action="RegisterCompany" role="form" enctype="multipart/form-data">
					<div class="form-content pr-1">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<div class="tab">
							<div class="form-group mb-3">
								<JTranslateLabel class="control-label" asp-for="UserName"></JTranslateLabel>
								<input class="form-control" type="text" asp-for="UserName" required />
								<span asp-validation-for="UserName" class="text-danger"></span><br />
							</div>
							<div class="form-group mb-0">
								<JTranslateLabel asp-for="Password" class="control-label"></JTranslateLabel>
								<div class="input-group position-relative">
									<input asp-for="Password" class="form-control" required />
									<div class="input-group-append">
										<a href="javascript:void(0)" class="toggle-password ">
											<span class="fa fa-eye-slash icon"></span>
										</a>
									</div>
								</div>
								<span asp-validation-for="Password" class="text-danger"></span><br />
								@*<small>@Localizer["pass_info1"]</small><br />
									<small>@Localizer["pass_info2"]</small>*@
							</div>
							<div class="form-group mb-3">
								<JTranslateLabel asp-for="RepeatPassword" class="control-label"></JTranslateLabel>
								<div class="input-group position-relative">
									<input asp-for="RepeatPassword" class="form-control" required />
									<div class="input-group-append">
										<a href="javascript:void(0)" class="toggle-password ">
											<span class="fa fa-eye-slash icon"></span>
										</a>
									</div>
								</div>
								<span asp-validation-for="RepeatPassword" class="text-danger"></span>
							</div>
							<div class="form-group mb-3">
								<JTranslateLabel class="control-label" asp-for="Email"></JTranslateLabel>
								<input class="form-control" type="text" asp-for="Email" required />
								<span asp-validation-for="Email" class="text-danger"></span><br />
							</div>
							<div class="form-group mb-3">
								<JTranslateLabel class="control-label" asp-for="FirstName"></JTranslateLabel>
								<input class="form-control" type="text" asp-for="FirstName" required />
								<span asp-validation-for="FirstName" class="text-danger"></span><br />
							</div>
							<div class="form-group mb-3">
								<JTranslateLabel class="control-label" asp-for="LastName"></JTranslateLabel>
								<input class="form-control" type="text" asp-for="LastName" required />
								<span asp-validation-for="LastName" class="text-danger"></span><br />
							</div>
						</div>
						<div class="tab">
							<div class="form-group mb-3">
								<JTranslateLabel asp-for="OrganizationLogoFormFile" class="control-label"></JTranslateLabel>
								<input type="file" asp-for="OrganizationLogoFormFile" class="dropify" data-allowed-file-extensions="png jpg jpeg" data-max-file-size-preview="3M" />
							</div>
							<p class="mt-5">
								@Localizer["system_tenant_logo_info"]
							</p>
							<div class="form-group mb-3">
								<JTranslateLabel class="control-label" asp-for="Name"></JTranslateLabel>
								<input class="form-control" type="text" asp-for="Name" required />
								<span asp-validation-for="Name" class="text-danger"></span><br />
							</div>
							<div class="form-group mb-3">
								<JTranslateLabel class="control-label" asp-for="Description"></JTranslateLabel>
								<textarea class="form-control" type="text" asp-for="Description"></textarea>
								<span asp-validation-for="Description" class="text-danger"></span><br />
							</div>
							<div class="form-group mb-3">
								<JTranslateLabel class="control-label" asp-for="SiteWeb"></JTranslateLabel>
								<input class="form-control" type="text" asp-for="SiteWeb" />
								<span asp-validation-for="SiteWeb" class="text-danger"></span><br />
							</div>
						</div>
						<div class="tab">
							<div class="form-group mb-3">
								<JTranslateLabel class="control-label" asp-for="Address"></JTranslateLabel>
								<input class="form-control" type="text" asp-for="Address" />
								<span asp-validation-for="Address" class="text-danger"></span><br />
							</div>
							<div class="form-group mb-3">
								<JTranslateLabel asp-for="CountryId" class="control-label"></JTranslateLabel>
								<select class="form-control" asp-for="CountryId" asp-items="Model.CountrySelectListItems"></select>
								<span asp-validation-for="CountryId" class="text-danger"></span><br />
							</div>
							<div class="form-group mb-3">
								<JTranslateLabel asp-for="CityId" class="control-label"></JTranslateLabel>
								<select disabled="disabled" class="form-control" asp-for="CityId"></select>
								<span asp-validation-for="CityId" class="text-danger"></span><br />
							</div>
							@*<div class="col-md-12">
									<span>@Localizer["system_multi_tenant_accept_agreement"] <a href="#">@Localizer["system_subscriptions_agreement"]</a> @Localizer["system_and"] <a href="#">@Localizer["system_privacy_policies"]</a></span>
								</div>*@
						</div>
					</div>
					<div class="form-progress mt-3 w-100 d-flex justify-content-between align-items-center">
						<div class="step-buttons">
							<button class="btn btn-primary" type="button" id="prevBtn" onclick="nextPrev(-1)" translate="iso_previous">Previous</button>
							<button class="btn btn-primary" type="button" id="nextBtn" onclick="nextPrev(1)" translate="iso_next">Next</button>
						</div>
						<div class="step-progress text-muted">
							<span class="step"></span>
							<span>/3 <span translate="iso_step">Step</step></span>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="image-area col" style="background-image: url(../images/public/home-background.svg);
    background-color: hsla(220, 92%, 41%, 0.1);"></div>
	</section>

	<script src="~/lib/jquery/jquery.min.js"></script>
	<script src="~/lib/tether/js/tether.min.js"></script>
	<script src="~/lib/select2/js/select2.min.js"></script>
	<script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
	<script src="~/lib/jQuery-slimScroll/jquery.slimscroll.min.js"></script>
	@*<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>*@
	<script src="~/lib/sticky-kit/sticky-kit.min.js"></script>
	<script src="~/themes/admin/js/admin-theme-script.js"></script>
	<script src="~/lib/jquery-toast-plugin/jquery.toast.min.js"></script>
	<script src="~/assets/js/core.js" asp-append-version="true"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"></script>
	<script src="~/assets/MultiTenantPlugins/company-manage.js"></script>
	<script>
		$(".toggle-password").on("click", function () {
			const target = $(this).closest(".input-group").find("input");
			if (target.attr("type") === "password") {
				target.attr("type", "text");
				$(this).find("span").removeClass("fa-eye-slash").addClass("fa-eye");
			} else {
				target.attr("type", "password");
				$(this).find("span").removeClass("fa-eye").addClass("fa-eye-slash");
			}
		});

		var currentTab = 0; // Current tab is set to be the first tab (0)
		showTab(currentTab); // Display the current tab

		function showTab(n) {
			// This function will display the specified tab of the form...
			var x = document.getElementsByClassName("tab");
			x[n].style.display = "block";
			//... and fix the Previous/Next buttons:
			if (n == 0) {
				document.getElementById("prevBtn").style.display = "none";
			} else {
				document.getElementById("prevBtn").style.display = "inline";
			}
			if (n == (x.length - 1)) {
				$('#nextBtn').html('Register').attr('translate', 'iso_register').removeAttr('translated');
			} else {
				$('#nextBtn').attr('translate', 'iso_next').removeAttr('translated');
			}
			//... and run a function that will display the correct step indicator:
			fixStepIndicator(n);
			window.forceTranslate('#register-company');
		}

		function nextPrev(n) {
			// This function will figure out which tab to display
			var x = document.getElementsByClassName("tab");
			// Exit the function if any field in the current tab is invalid:
			if (n == 1 && !validateForm()) return false;
			// Hide the current tab:
			x[currentTab].style.display = "none";
			// Increase or decrease the current tab by 1:
			currentTab = currentTab + n;
			// if you have reached the end of the form...
			if (currentTab >= x.length) {
				// ... the form gets submitted:
				document.getElementById("register-company").submit();
				return false;
			}
			// Otherwise, display the correct tab:
			showTab(currentTab);
		}

		function validateForm() {
			// This function deals with validation of the form fields
			var x, y, i, valid = true;
			x = document.getElementsByClassName("tab");
			y = x[currentTab].getElementsByTagName("input");
			// A loop that checks every input field in the current tab:
			for (i = 0; i < y.length; i++) {
				// If a field is empty...
				const notValid = $(y[i]).hasClass('input-validation-error');
				const requiredAndEmpty = y[i].value == "" && y[i].required;
				if (notValid || requiredAndEmpty) {
					// add an "invalid" class to the field:
					y[i].className += " invalid";
					// and set the current valid status to false
					valid = false;
				}
			}
			return valid; // return the valid status
		}

		function fixStepIndicator(n) {
			$('.step-progress .step').html(n + 1);
		}
	</script>
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
</body>
</html>