@using ST.PageRender.Razor.Helpers

<!DOCTYPE html>
@if (User.Identity.IsAuthenticated)
{
	var layoutId = (Guid?)ViewData["layoutId"] ?? PageManager.Layouts[0];

	<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<partial name="_BootstrapThemeStyles" />
		<partial name="_FormModuleLayoutStyles" />
		<title>@ViewData["Title"] - ISO</title>
		<layout-css-code layout-id="@layoutId"></layout-css-code>
		<application-styles layout-id="@layoutId"></application-styles>
		@RenderSection("PreScripts", required: false)
		<partial name="_BootstrapThemeScripts" />
		<application-scripts layout-id="@layoutId"></application-scripts>
		@RenderSection("Styles", required: false)
	</head>
	<body class="fix-header fix-sidebar card-no-border">
		<application layout-id="@layoutId">
			@RenderBody()
		</application>
		<partial name="_LayoutScriptPartial" model="layoutId" />
		<layout-js-code layout-id="@layoutId"></layout-js-code>
		<partial name="_FormModuleLayoutScripts" />
		<script src="~/js/site.js" asp-append-version="true"></script>
		<script src="~/assets/js/plugins/st-ui-cookie-plugin-v.0.1.js" asp-append-version="true"></script>
		<script src="~/assets/js/plugins/st-ui-table-column-visibility-v.0.1.js" asp-append-version="true"></script>
		@RenderSection("Scripts", false)
		<partial name="_AssistanceChat" model="layoutId" />
	</body>
</html>
}
else
{
@RenderBody()
@RenderSection("Scripts", false)
}