@using ST.PageRender.Razor.Helpers

<!DOCTYPE html>
@if (User.Identity.IsAuthenticated)
{
	var layoutId = (Guid?)ViewData["layoutId"] ?? PageManager.Layouts[0];

	<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="~/lib/jquery-toast-plugin/jquery.toast.min.css" />
		<link rel="stylesheet" type="text/css" href="~/assets/FormModulePlugins/css/formeo.css" />
		<link rel="stylesheet" type="text/css" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
		<link type="text/css" rel="stylesheet" href="~/lib/limonte-sweetalert2/sweetalert2.min.css" />
		<link rel="stylesheet" type="text/css" href="~/lib/datatables/css/jquery.dataTables.min.css" />
		<link rel="stylesheet" type="text/css" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" />
		<link rel="stylesheet" type="text/css" href="~/lib/select2/css/select2.min.css" />
		<title>@ViewData["Title"] - ISO</title>
		<layout-css-code layout-id="@layoutId"></layout-css-code>
		<application-styles layout-id="@layoutId"></application-styles>
		@RenderSection("PreScripts", required: false)
		<script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="~/lib/tether/js/tether.min.js"></script>
		<script type="text/javascript" src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
		<script type="text/javascript" src="~/lib/jqueryui/jquery-ui.min.js"></script>
		<script type="text/javascript" src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
		<script type="text/javascript" src="~/lib/limonte-sweetalert2/sweetalert2.min.js"></script>
		<script type="text/javascript" src="~/lib/select2/js/select2.full.min.js"></script>
		<script src="~/lib/jsrender/jsrender.min.js"></script>
		<script src="~/lib/jsviews/jsviews.min.js"></script>
		<application-scripts layout-id="@layoutId"></application-scripts>
		@RenderSection("Styles", required: false)
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body class="fix-header fix-sidebar card-no-border">
		<application layout-id="@layoutId">
			@RenderBody()
		</application>
		<partial name="_LayoutScriptPartial" model="layoutId" />
		<layout-js-code layout-id="@layoutId"></layout-js-code>

		<script src="~/assets/FormModulePlugins/js/formeo.min.js"></script>
		<script src="~/assets/FormModulePlugins/js/st-form-prototype-library-v.0.1.js" asp-append-version="true"></script>
		<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
		<script src="~/js/signalar.js" asp-append-version="true"></script>
		<script src="~/lib/jquery-toast-plugin/jquery.toast.min.js"></script>
		<script src="~/assets/js/plugins/st-ui-cookie-plugin-v.0.1.js" asp-append-version="true"></script>
		<script src="~/assets/js/plugins/st-ui-table-column-visibility-v.0.1.js" asp-append-version="true"></script>
		@RenderSection("Scripts", false)
		<partial name="_AssistanceChat" model="layoutId" />
	</body>
</html>
}
else
{
@RenderBody()
@RenderSection("Scripts", false)
}