@model ST.Localization.Razor.ViewModels.LocalizationViewModels.AddKeyViewModel
@inject IStringLocalizer Localizer
@{
    ViewData["Title"] = "Add key";
}

<div class="card card-outline-primary">
    <div class="card-header">
        <h4 class="mb-0 text-white">@Localizer["add_key"]</h4>
    </div>
    <div class="card-body">
        <form asp-action="AddKey" role="form">
            <div class="form-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row pt-2">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="NewKey" class="control-label"></label>
                            <input asp-for="NewKey" class="form-control" />
                            <span asp-validation-for="NewKey" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row pt-2">
                    <div class="col-md-6">
                        <div class="form-group">
                            @foreach (var item in Model.LocalizedStrings)
                            {
                                if (item.Key == "en")
                                {
                                    <label class="control-label">@Model.Languages[item.Key]</label>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Insert @Model.Languages[item.Key] translation" asp-for="LocalizedStrings[item.Key]">
                                        <div class="input-group-append">
                                            <a id="translate" class="btn btn-success input-group-text" href="#"><span class="fa fa-translate"></span> Translate from english to all</a>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="field">
                                        <label class="control-label">@Model.Languages[item.Key]</label>
                                        <input type="text" placeholder="Insert @Model.Languages[item.Key] translation" class="form-control _translate_@item.Key" asp-for="LocalizedStrings[item.Key]" />
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> @Localizer["save"]</button>
                <button type="reset" class="btn btn-inverse"> @Localizer["reset"]</button>
                <a asp-action="Index" class="btn btn-link"> @Localizer["back"]</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $("#translate").on("click", function () {
                const englishText = $(this).parent().parent().find("input").val();
                if (englishText) {
                    $.ajax({
                        url: "@Url.Action("Translate")",
                        data: {
                            englishText: englishText
                        },
                        success: function (data) {
                            if (data)
                            {
                                if (data.is_success) {
                                    for (let key in data.result) {
                                        $(`._translate_${key}`).val(data.result[key]);
                                    }
                                } else {

                                }
                            }
                            else {

                            }
                        },
                        error: function (error) {

                        }
                    });
                } else {

                }
            });
        });
    </script>
}