@model GR.Identity.Razor.ViewModels.UserProfileViewModels.CreateProfileViewModel
@inject IStringLocalizer Localizer

@{
    ViewData["Title"] = Localizer["add_profile"];
}
<div class="card card-outline-info">
    <div class="card-header">
        <h4 class="mb-0 text-white">@Localizer["add_profile"]</h4>
    </div>
    <div class="card-body">
        <form asp-action="Create" role="form">
            <div class="form-body">
                <h3 class="card-title">Profile Info</h3>
                <hr>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row p-t-20">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ProfileName" class="control-label"></label>
                            <input asp-for="ProfileName" placeholder="@Localizer["profile_name_info"]" class="form-control" />
                            <span asp-validation-for="ProfileName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="EntityId" class="control-label"></label>
                            <select asp-for="EntityId" asp-items="@(new MultiSelectList(Model.Entities, "Id", "Name", null))" class="form-control">
                                <option value="" selected="">Select an entity...</option>
                            </select>
                            <span asp-validation-for="EntityId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row button-group">
                <div class="col-lg-2 col-md-3">
                    <button type="submit" class="btn btn-block btn-success"> <i class="fa fa-check"></i> @Localizer["save"]</button>
                </div>
                <div class="col-lg-2 col-md-3">
                    <button type="reset" class="btn btn-block  btn-inverse"> @Localizer["reset"]</button>
                </div>
                <div class="col-lg-2 col-md-3">
                    <a asp-action="Index" class="btn btn-block btn-link"> @Localizer["back"]</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" language="javascript">
		$(document).ready(function() {
			$('#EntityId').select2({
				allowClear: false
			});
		});
    </script>
    <script asp-append-version="true" src="~/assets/js/profile/script.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}