@model GR.ECommerce.Abstractions.ViewModels.CartViewModels.AddToCartViewModel


<table class="table">
	<thead>
		<tr>
			<th scope="col">Product</th>
			<th scope="col">Price</th>
			<th scope="col">Quantity</th>
			<th scope="col"></th>
		</tr>
	</thead>

	<tbody class="listProducts">
		@if (!Model?.CartItems.Any() ?? false)
		{
			<tr>
				<td colspan="4">No items</td>
			</tr>
		}

		@foreach (var cartItem in Model?.CartItems)
		{
			<tr>
				<td>@cartItem.Product?.Name</td>
				<td>@cartItem.Product?.PriceWithoutDiscount</td>
				<td>
					<button class="btn btn-light" onclick="decreasesQuantity('@cartItem.Id')">-</button>
					<input id="quantyty_@cartItem.Id" class="" value="@cartItem.Amount" readonly />
					<button class="btn btn-light" onclick="addQuantity('@cartItem.Id')">+</button>
				</td>
				<td>
					<button class="btn btn-light" onclick="deleteCartItem('@cartItem.Id')"> <span fa fa-close></span></button>
				</td>
			</tr>
		}
	</tbody>
</table>