@using GR.ECommerce.Abstractions
@using GR.ECommerce.Abstractions.Models
@model GR.ECommerce.Abstractions.ViewModels.CartViewModels.AddToCartViewModel
@inject IProductService<Product> ProductService

@{
    var currency = (await ProductService.GetGlobalCurrencyAsync()).Result;
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody class="listProducts">
        @if (!Model?.CartItems.Any() ?? false)
        {
            <tr>
                <td colspan="4">No products in cart</td>
            </tr>
        }

        @foreach (var cartItem in Model?.CartItems)
        {
            <tr>
                <td>@cartItem.Product?.Name</td>
                <td>
                    @{var productPriceWithoutDiscount = cartItem.ProductVariation == null ? cartItem.Product?.PriceWithoutDiscount : cartItem.ProductVariation.Price;}
                    @productPriceWithoutDiscount @currency?.Symbol
                </td>
	            <td width="300">
		            <div class="input-group">
			            <div class="input-group-prepend">
				            <a class="btn btn-light" onclick="decreasesQuantity('@cartItem.Id')"><span class="fa fa-minus"></span></a>
			            </div>
			            <input id="quantyty_@cartItem.Id" class="form-control" value="@cartItem.Amount" readonly/>
			            <div class="input-group-append">
				            <a class="btn btn-light" onclick="addQuantity('@cartItem.Id')"><span class="fa fa-plus"></span></a>
			            </div>
		            </div>
	            </td>
                <td>
                    <button class="btn btn-light" onclick="deleteCartItem('@cartItem.Id')"> <span class="fa fa-close"></span></button>
                </td>
            </tr>
        }
    </tbody>
</table>