@inject IStringLocalizer Localizer
@model GR.Identity.Razor.Users.ViewModels.UserViewModels.UpdateUserViewModel

@{
    ViewData["Title"] = Localizer["users_edit_title"];
}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css">
<div class="row">
    <div class="col-lg-12">
        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="mb-0 text-white">@Localizer["edit_user"]  <code>@Model.Email</code></h4>
            </div>
            <div class="card-body">
                <div class="field">
                    <h5>  @Localizer["users_edit_info"]  <br />@Localizer["users_header2"]<br /></h5>
                </div>
                <hr />
                <form asp-action="Edit" role="form" id="UserEdit" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="Id" />
                    @Html.HiddenFor(x => x.AuthenticationType)
                    <input asp-for="UserNameOld" type="hidden" />
                    <div class="form-body">
                        <h3 class="card-title">Profile Info</h3>
                        <hr>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row p-t-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="UserName" class="control-label"></label>
                                    <input asp-for="UserName" class="form-control" />
                                    <span asp-validation-for="UserName" class="text-danger"></span><br />
                                    <small>@Localizer["username_info"]</small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span><br />
                                    <small>@Localizer["email_info1"] <br /> @Localizer["email_info2"]</small>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="SelectedRoleId"></label>
                                    <select asp-for="SelectedRoleId" multiple asp-items="@(new MultiSelectList(Model.Roles, "Id", "Name" ))" class="form-control"></select>
                                    <span asp-validation-for="SelectedRoleId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <h3 class="card-title"> @Localizer["profiles"]</h3>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="FirstName" class="control-label"></label>
                                <input class="form-control" asp-for="FirstName" />
                                <span asp-validation-for="FirstName" class="text-danger"></span><br />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="LastName" class="control-label"></label>
                                <input class="form-control" asp-for="LastName" />
                                <span asp-validation-for="LastName" class="text-danger"></span><br />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="SelectedGroupId"></label>
                                <select asp-for="SelectedGroupId" multiple asp-items="@(new MultiSelectList(Model.Groups, "Id", "Name" , null))" class="form-control"></select>
                                <span asp-validation-for="SelectedGroupId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row h-25">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="TenantId" class="control-label"></label>
                                <select asp-for="TenantId" asp-items="@(new MultiSelectList(Model.Tenants, "Id", "Name", null))" class="form-control"></select>
                                <span asp-validation-for="TenantId" class="text-danger"></span><br />
                                <small>Select user organization</small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="UserPhotoUpdateFile" class="control-label"></label>
                                <input asp-for="UserPhotoUpdateFile" class="dropify" data-allowed-file-extensions="png jpg jpeg" data-max-file-size-preview="3M" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <img src="@Url.Action("GetImage", new {id = Model.Id})" class="img-circle" alt="@Model.UserName" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="checkbox checkbox-success form-group">
                                    <input asp-for="IsDeleted" />
                                    <label asp-for="IsDeleted"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input asp-for="ProfilesJson" id="profilesJson" type="hidden" value="" />
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> @Localizer["save"]</button>
                                        <a asp-action="Index" class="btn btn-link"> @Localizer["back"]</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"></script>
    <script type="text/javascript" language="javascript">
		$(document).ready(function() {
			$('#SelectedGroupId').select2({
				placeholder: "@Localizer["sel_group"]"
			});
			$('#SelectedRoleId').select2({
				placeholder: "@Localizer["sel_role"]"
			});
		});
		$('.dropify').dropify();
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}