@model IEnumerable<ST.Entities.Data.Document>

@{
	ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			
			<th>
				@Html.DisplayNameFor(model => model.Author)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Created)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ModifiedBy)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Changed)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsDeleted)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				
				<td>
					@Html.DisplayFor(modelItem => item.Author)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Created)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ModifiedBy)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Changed)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IsDeleted)
				</td>
				
			</tr>
		}
	</tbody>
</table>
