@model GR.PageRender.Abstractions.Models.ViewModels.ViewModel
@inject IStringLocalizer Localizer

@{
    ViewData["Title"] = $"Edit {Model.Name} view model";
}

<div class="card card-outline-primary">
    <div class="card-header">
        <h4 class="mb-0 text-white">Edit view model </h4>
    </div>
    <div class="card-body">
        <form asp-action="Edit" role="form">
            <div class="form-body">
                @Html.HiddenFor(x => x.Created)
                @Html.HiddenFor(x => x.Changed)
                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.IsDeleted)
                @Html.HiddenFor(x => x.Author)
                @Html.HiddenFor(x => x.ModifiedBy)
                @Html.HiddenFor(x => x.TenantId)

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row p-t-20">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label" asp-for="Name"></label>
                            <input class="form-control" type="text" asp-for="Name" />
                            <span asp-validation-for="Name" class="text-danger"></span><br />
                            <small>Name of the view model</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row button-group">
                <div class="col-lg-2 col-md-3">
                    <button type="submit" class="btn btn-block btn-success"> <i class="fa fa-check"></i> @Localizer["save"]</button>
                </div>
                <div class="col-lg-2 col-md-3">
                    <button type="reset" class="btn btn-block  btn-inverse"> @Localizer["reset"]</button>
                </div>
                <div class="col-lg-2 col-md-3">
                    <a asp-action="Index" class="btn btn-block btn-link"> @Localizer["back"]</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}