@inject IStringLocalizer Localizer
@{
    ViewData["Title"] = Localizer["view_models"];
}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">@Localizer["view_models"]</h4>
        <h6 class="card-subtitle">@Localizer["view_models_subtitle"]</h6>
        <div class="table-responsive">
            <div class="mt-2">
                <div class="d-flex">
                    <div class="mr-auto">
                        <div class="form-group">
                            <a id="addViewModel" href="javascript:void(0)" class="btn btn-primary btn-sm">
                                <i class="mdi mdi-circle-edit-outline mr-2" aria-hidden="true"></i>@Localizer["system_viewmodel_add"]
                            </a>
                            <small>@Localizer["system_viewmodel_add_description"]</small>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-bordered" id="dfTable">
                <thead>
                    <tr>
                        <th>@Localizer["name"]</th>
                        <th>@Localizer["entity_name"]</th>
                        <th>@Localizer["created"]</th>
                        <th>@Localizer["changed"]</th>
                        <th>@Localizer["author"]</th>
                        <th>@Localizer["is_deleted"]</th>
                        <th>@Localizer["list_actions"]</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" language="javascript">
        function getTokenAntiForgery() {
            const token = '@Html.AntiForgeryToken()';
            return $(token).val();
        }
    </script>
    <script type="text/javascript" language="javascript">
        $(document).ready(function($) {
            const ent = load("/PageRender/GetEntities");
            const model = {};

            $.each(ent,
                function(index, item) {
                    model[item.id] = item.name;
                });

            $("#addViewModel").on("click",
                function() {
                    swal({
                        title: window.translate("system_viewmodel_select_entity"),
                        input: 'select',
                        inputOptions: model,
                        inputPlaceholder: 'required',
                        showCancelButton: true,
                        inputValidator: function(value) {
                            return new Promise(function(resolve, reject) {
                                if (value !== '') {
                                    resolve();
                                } else {
                                    reject(window.translate("system_viewmodel_select_entity_not_selected"));
                                }
                            });
                        }
                    }).then(function(result) {
                        if (result.value) {
                            $.ajax({
                                url: "@Url.Action("GenerateViewModel")",
                                type: "post",
                                data: {
                                    entityId: result.value
                                },
                                success: function(data) {
                                    if (!data) {
                                        swal("Fail!", window.translate("system_internal_error"), "error");
                                    } else if (data.is_success) {
                                        location.href = `/ViewModel/OrderFields?id=${data.result}`;
                                    }
                                },
                                error: function() {
                                    swal("Fail!", window.translate("system_internal_error"), "error");
                                }
                            });
                        }
                    });
                });

            const tableId = '#dfTable';
            if ($.fn.DataTable.isDataTable(tableId)) {
                $(tableId).dataTable().fnDestroy();
                $(tableId).dataTable().empty();
            }
            $(tableId).DataTable({
                "language": {
                    "url": `http://cdn.datatables.net/plug-ins/1.10.19/i18n/${window.getCookie("language")}.json`
                },
                dom: '<"CustomizeColumns">lBfrtip',
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "destroy": true,
                "ajax": {
                    "url": '@Url.Action("LoadViewModels")',
                    "type": "POST"
                },
                "columns": [
                    { "data": "name" },
                    { "data": "table" },
                    { "data": "created" },
                    { "data": "changed" },
                    { "data": "author" },
                    { "data": "isDeleted" },
                    {
                        data: null,
                        "render": function(data, type, row, meta) {
                            return `<div class="btn-group" role="group" aria-label="Action buttons">
									<a class="btn btn-info btn-sm" href="@Url.Action("Edit")?id=${row.id}">${window
                                .translate("edit")}</a>
                                    <a class="btn btn-danger btn-sm" href="@Url.Action("FieldsMapping")?viewModelId=${
                                row.id}">${window.translate("system_field_mapping")}</a>
									<a class="btn btn-primary btn-sm" href="@Url.Action("OrderFields")?id=${row.id
                                }">${window.translate("order_viewmodel_fields")}</a>
									<button type="button" class='btn btn-danger btn-sm' onclick=createAlert('${row.id
                                }');>${window.translate("delete")}</button>
									</div>`;
                        }
                    }
                ]
            });
        });

        function createAlert(rowId) {
            const object = {
                alertTitle: "Delete this view model?",
                alertText: "Are you sure that you want to leave this view model?",
                confirmButtonText: "Yes, delete it!",
                rowId: rowId,
                tableId: "#dfTable",
                urlForDelete: '@Url.Action("Delete")',
                type: "warning",
                onDeleteSuccess: "View model has been deleted.",
                onDeleteFail: "Something wrong",
                onServerNoResponse: "Api not respond or not have permissions."
            };
            DeleteData(object);
        }
    </script>
}