@using GR.Subscriptions.Abstractions
@using GR.Subscriptions.Abstractions.Models

@inject ISubscriptionService<Subscription> SubscriptionService

@{
    var subscriptions = (await SubscriptionService.GetSubscriptionsByUserAsync()).Result.ToList();
}


<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Plan name</th>
                        <th>Valid from date</th>
                        <th>Period</th>
                        <th>Remaining Days</th>
                        <th>Is valid</th>
                        <th>Permissions</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var subscription in subscriptions)
                    {
                        <tr>
                            <td>
                                @subscription.Name
                            </td>
                            <td>
                                @subscription.StartDate
                            </td>
                            <td>
                                @subscription.Availability days
                            </td>
                            <td>
                                @subscription.RemainingDays days
                            </td>
                            <td>
                                @subscription.IsValid
                            </td>
                            <td>
                                <ul>
                                    @foreach (var permission in subscription.SubscriptionPermissions)
                                    {
                                        <li><b>@permission.Name</b> - @permission.Value</li>
                                    }
                                </ul>
                            </td>
                            <td>
                                <a class="btn btn-primary" asp-action="Details" asp-controller="Orders" asp-route-orderId="@subscription.OrderId">Order details</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>