@model GR.ECommerce.Razor.ViewModels.ProductViewModel

<div class="row">
	<div class="col-lg-12 col-md-12">


		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
			Add variation
		</button>

		<div class="card card-outline-info mt-2">
			<div class="tab-content">
				<div class="card-body">

					<div class="col-lg-12 col-md-12 row mt-3" id="ListVariationProduct">
						

					</div>
				</div>

			</div>
		</div>
	</div>
</div>







<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCenterTitle">Add Variation</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="clearForm()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">


				<div class="card">
					<div class=" card-body">
						<form id="createOptionForm">
							<input type='text' id="VariationId" name="VariationId" class='form-control' value="" hidden/>

							<div asp-validation-summary="ModelOnly" class="text-danger"></div>
							<div class="row p-t-20">
								<div class="col-md-6">
									<div class="input-group mb-3">
										<label class="col-md-12">Select Option</label>
										<select id="ProductOptionId" class="form-control" aria-describedby="addOptionBtn">
											<option value="">Select</option>

											@foreach (var productOption in Model.ProductOption)
											{
												<option label="@productOption.Text" value="@productOption.Value" id="select_@productOption.Value"></option>
											}

										</select>
										<div class="input-group-append">
											<a id="addOptionBtn" href="#" class="btn btn-secondary">Add</a>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<table class="table">
									<thead>
									<tr>
										<th scope="col">Option</th>
										<th scope="col">Value</th>
										<th scope="col">Actions</th>
									</tr>
									</thead>
									<tbody id="appendTableOption">
									</tbody>
								</table>
							</div>
							<div class="row mb-2 col-12 ">
								<div class="col-4"><label class="col-md-12">Price variation</label></div>
								<div class="col-4">
									<input type='text' id="PriceVariation" class='form-control' value=''/>
								</div>
							</div>
							<div class="row button-group">
								<div class="col-lg-2 col-md-3">
									<a href="javascript:void(0)" class="btn btn-block btn-success" data-dismiss="modal" id="saveOptionBtn"> @Localizer["save"]</a>
									@*<button type="button" class="btn btn-primary" id="saveOptionBtn">@Localizer["save"]</button>*@
								</div>
								<div class="col-lg-2 col-md-3">
									<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="clearForm()">Close</button>
								</div>
							</div>
						</form>
					</div>
				</div>


			</div>
		</div>
	</div>
</div>



<script type="text/javascript">
	$(document).ready(function () {

		GetProductVariation();

        $("#addOptionBtn").on('click',
            function() {
				var elm = $("#ProductOptionId")[0].selectedOptions[0];
				$("#select_" + $(elm).attr("value")).hide();
				$("#ProductOptionId").val([]);
                const conf = {
                    label: $(elm).attr("label"),
                    optionId: $(elm).attr("value"),
                    value: ""
                };
                console.log($(elm).attr("label"));
                console.log($(elm).attr("value"));
                appendTableOption(conf);
            });

        function appendTableOption(element) {
           
            $("#appendTableOption").append(`<tr id='tr_${element.optionId}'>
                <td>${element.label}</td>
                <td>
                    <input type='text' id="attr_val_${element.optionId}" class='form-control' value='${element.value}'/>
                </td>   
                <td>
                    <a href='#' data-targetAttribute='${element.optionId
                }' class='btn btn-secondary' onclick='RemoveOption("${element.optionId}")'>
                    <i class='mdi mdi-close'></i></a>
                </td>`);
        }

        $("#saveOptionBtn").on("click", function () {

	        const variationDetails = [];
	        $($('#appendTableOption')[0].children).each(function (index, element) {
		        var optionId = element.id.substring(3);
		        console.log(optionId);
		        variationDetails.push({
			        ProductOptionId: optionId,
                    Value: $(`#attr_val_${optionId}`).val()
		        });
	        });

            const model = {
	            ProductId: '@Model.Id', 
                Price: $("#PriceVariation").val(),
	            VariationId: $("#VariationId").val(),
	            ProductVariationDetails :variationDetails
	        };

            console.log(model);


	        $.ajax({
		        url: '@Url.Action("SaveProductVariation")',
		        method: 'POST',
		        contentType: "application/json; charset=utf-8",
		        data: JSON.stringify(model),
		        success: function(data) {
                    if (data.is_success) {
	                    GetProductVariation();
				        toast.notify(
					        { heading: "Info", text: window.translate("system_inline_saved"), icon: "success" });
			        } else {
				        toast.notifyErrorList(data.error_keys);
			        }
		        },
		        error: function(error) {
			        console.log(error);
		        }
			});

	        clearForm();
        });
	});


	function RemoveOption(id) {
		$("#tr_" + id).remove();
		$("#select_" + id).show();

	}


    function GetProductVariation() {

        $("#ListVariationProduct").empty();

		$.ajax({
			url: '@Url.Action("GetProductVariation")',
			method: 'get',
			contentType: "application/json; charset=utf-8",
			data: {
				productId: '@Model.Id'
			},
			success: function(data) {
				listProductVariation(data);
			},
			error: function(error) {
				console.log(error);
			}
        });
	}

	function listProductVariation(data) {

		$(data).each(function(index, element) {

			var a = "";
			$(element.variationDetails).each(function(index2, element2) {
				a += `<tr><td>${element2.option}</td> <td>${element2.value}</td></tr>`;
			});

			$("#ListVariationProduct").append(
				`<div class="col-lg-5 col-md-5 row border m-2 p-2" id="${element.variationId}" >
					<div class="col-12">
						Product Variation
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="removeVariation('${element.variationId}')">
							<span aria-hidden="true">&times;</span>
						</button>
						<button type="button" class="edit" data-toggle="modal" data-target="#exampleModalCenter" onclick="getVariationById('${element.variationId}')">
							edit
						</button>
					</div>
					<table class="table  table-border m-2">	
						<tr>
							${a}
						</tr>
					</table>
					Price:  ${element.price}
				</div>`);
		});
	}

	function clearForm() {
		$("#ProductOptionId").val([]);

		$('#ProductOptionId option').each(function() {
			$(this).show();
		});

		$("#appendTableOption").empty();
		$("#PriceVariation").val("");
	}


	function removeVariation(idVariation) {

		// var model = { productId: '@Model.Id', variationId: idVariation };

		console.log(idVariation);

		$.ajax({
			url: '@Url.Action("RemoveOptione")',
			method: 'POST',
			data: {
				productId: '@Model.Id',
				variationId: idVariation
			},
			success: function(data) {
				if (data.is_success) {
					GetProductVariation();
					toast.notify(
						{ heading: "Info", text: window.translate("system_inline_saved"), icon: "success" });
				} else {
					toast.notifyErrorList(data.error_keys);
				}
			},
			error: function(error) {
				console.log(error);
			}
		});

	}

	function getVariationById(idVariation) {
		$.ajax({
			url: '@Url.Action("GetProductVariationById")',
			method: 'get',
			contentType: "application/json; charset=utf-8",
			data: {
				productId: '@Model.Id',
				variationId: idVariation
			},
			success: function(data) {
                console.log(data);
                editVariation(data);
                //listProductVariation(data);
			},
			error: function(error) {
				console.log(error);
			}
		});
	}


    function editVariation(data) {

        $(data.variationDetails).each(function (index, element) {

	        $("#select_" + element.optionId).hide();

		    $("#appendTableOption").append(`<tr id='tr_${element.optionId}'>
                <td>${element.option}</td>
                <td>
                    <input type='text' id="attr_val_${element.optionId}" class='form-control' value='${element.value}'/>
                </td>   
                <td>
                    <a href='#' data-targetAttribute='${element.optionId
			    }' class='btn btn-secondary' onclick='RemoveOption("${element.optionId}")'>
                    <i class='mdi mdi-close'></i></a>
                </td>`);
        });

        $("#PriceVariation").val(data.price);
        $("#VariationId").val(data.variationId);

        console.log(data.variationId);
    }

</script>