@model IEnumerable<ST.Calendar.Razor.ViewModels.ExternalCalendarProviderSettingsViewModel>

@{
    ViewData["Title"] = "Connect with external calendar providers";
}

@section Styles
{
    <link rel="stylesheet" href="~/lib/bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css" />
}


<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-1">
                <div class="social">
                    @if (Model.Any())
                    {
                        <form asp-action="CalendarExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                            <ul class="list-group">
                                @foreach (var provider in Model)
                                {
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-3 bt-switch">
                                                <input data-provider="@provider.ProviderName" id="@provider.ProviderName" @(provider.IsEnabled ? "checked='checked'" : "") type="checkbox">
                                            </div>
                                            <div class="col-md-6">
                                                @if (provider.IsEnabled)
                                                {
                                                    @if (provider.User.IsAuthorized)
                                                    {
                                                        <span>Logged as :</span> <img src="@provider.User.ImageUrl" alt="No image" class="mr-2 rounded" width="28" />
                                                        <b> @provider.User.EmailAdress</b>
                                                    }
                                                    else
                                                    {
                                                        <h4>Need to log in</h4>
                                                    }
                                                }
                                                else
                                                {
                                                    <h4>Provider is disabled</h4>
                                                }
                                            </div>
                                            <div class="col-md-3">
                                                <button class="btn btn-primary btn-circle" name="provider" value="@provider.ProviderName">
                                                    <i aria-hidden="true" class="fa fa-@provider.FontAwesomeIcon"></i>  Login with @provider.DisplayName
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/lib/bootstrap-switch/js/bootstrap-switch.min.js"></script>

    <script>
        $(document).ready(function () {
            $(".bt-switch input[type='checkbox']").bootstrapSwitch({
                onSwitchChange: function (event, state) {
                    const provider = $(this).data("provider");
                    $.ajax({
                        url: "@Url.Action("EnableProvider")",
                        method: "post",
                        data: {
                          providerName: provider,
                          state: state
                        },
                        success: function (data) {
                            if (data.is_success) {
                                location.reload();
                            } else alert("Error, check if server is up");
                        },
                        error: function (err) {
                            alert("Error, check if server is up");
                        }
                    });
                }
            });
        });
    </script>
}