@model GR.PageRender.Razor.ViewModels.PageViewModels.PageViewModel
@inject IStringLocalizer Localizer

@{
    ViewData["Title"] = $"Edit {Model.Name} page";
}

<div class="card card-outline-primary">
    <div class="card-header">
        <h4 class="mb-0 text-white">Edit page @Model.Name</h4>
    </div>
    <div class="card-body">
        <form asp-action="Edit" role="form">
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.IsSystem)
            @Html.HiddenFor(x => x.IsDeleted)
            @Html.HiddenFor(x => x.IsLayout)
            @Html.HiddenFor(x => x.SettingsId)
            @Html.HiddenFor(x => x.TenantId)
            <div class="form-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row p-t-20">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label" asp-for="Name"></label>
                            <input class="form-control" type="text" asp-for="Name" />
                            <span asp-validation-for="Name" class="text-danger"></span><br />
                            <small>Name of the page</small>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label" asp-for="Title"></label>
                            <input class="form-control" type="text" asp-for="Title" />
                            <span asp-validation-for="Title" class="text-danger"></span><br />
                            <small>Title of page</small>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="TitleTranslateKey" class="control-label">Select the translate key</label>
                            <select asp-for="TitleTranslateKey" class="form-control">
                                <option>none</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label" asp-for="Path"></label>
                            <input class="form-control" type="text" asp-for="Path" />
                            <span asp-validation-for="Path" class="text-danger"></span><br />
                            <small>Path of page</small>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label" asp-for="Description"></label>
                            <textarea class="form-control" type="text" asp-for="Description"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span><br />
                            <small>Description of the page</small>
                        </div>
                    </div>
                    @if (!Model.IsLayout)
                    {
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="table" class="control-label">Select the page type</label>
                                <select asp-for="PageTypeId" asp-items="@(new SelectList(Model.PageTypes, "Id", "Name"))" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="table" class="control-label">Select the layout for render page</label>
                                <select asp-for="LayoutId" asp-items="@(new SelectList(Model.Layouts, "Id", "Settings.Name"))" class="form-control">
                                    <option value="">null</option>
                                </select>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="row button-group">
                <div class="col-lg-2 col-md-3">
                    <button type="submit" class="btn btn-block btn-success"> <i class="fa fa-check"></i> @Localizer["save"]</button>
                </div>
                <div class="col-lg-2 col-md-3">
                    <button type="reset" class="btn btn-block  btn-inverse"> @Localizer["reset"]</button>
                </div>
                <div class="col-lg-2 col-md-3">
                    <a asp-action="Index" class="btn btn-block btn-link"> @Localizer["back"]</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        const trans = load("/Localization/GetTranslationsForCurrentLanguage");
        const options = $("#TitleTranslateKey");
        $.each(trans, function (index, data) {
            options.append(new Option(data, index));
        });
        options.val("@Model.TitleTranslateKey");
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}