@model GR.PageRender.Razor.ViewModels.PageViewModels.CodeViewModel

@inject IStringLocalizer Localizer

@{
    var data = (Page)ViewBag.Page;
    ViewData["Title"] = $"Code for {data.Settings.Name}";
}

@section Styles
{
    <link rel="stylesheet" type="text/css" href="~/lib/codemirror/codemirror.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/codemirror/theme/monokai.css" />
}

<div class="card card-outline-primary">
    <div class="card-header">
        <h4 class="mb-0 text-white">Code for  @data.Settings.Name</h4>
    </div>
    <div class="card-body">
        <form asp-action="GetCode" role="form">
            @Html.HiddenFor(x => x.PageId)
            @Html.HiddenFor(x => x.Type)
            <div class="form-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row p-t-20">
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea id="code" style="height:100em" asp-for="Code">@Model.Code</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row button-group">
                <div class="col-lg-2 col-md-3">
                    <button type="submit" class="btn btn-block btn-success"> <i class="fa fa-check"></i> @Localizer["save"]</button>
                </div>
                <div class="col-lg-2 col-md-3">
                    <button type="reset" class="btn btn-block  btn-inverse"> @Localizer["reset"]</button>
                </div>
                <div class="col-lg-2 col-md-3">
                    <a asp-action="Index" class="btn btn-block btn-link"> @Localizer["back"]</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
	{
    <script src="~/lib/codemirror/codemirror.min.js"></script>
    <script src="~/lib/codemirror/keymap/sublime.min.js"></script>
    <script src="~/lib/codemirror/mode/htmlmixed/htmlmixed.min.js"></script>
    <script src="~/lib/codemirror/mode/javascript/javascript.min.js"></script>
    <script src="~/lib/codemirror/mode/css/css.min.js"></script>
    <script src="~/lib/codemirror/mode/xml/xml.min.js"></script>
    <script>
        var url = new URL(location.href);
        var type = url.searchParams.get("type");
        var editor = CodeMirror.fromTextArea(document.getElementById("code"),
            {
                lineNumbers: true,
                mode: (type === "css") ? "css" : (type === "html") ? "xml" : "javascript",
                keyMap: "sublime",
                autoCloseBrackets: true,
                matchBrackets: true,
                showCursorWhenSelecting: true,
                theme: "monokai",
                tabSize: 2
            });

        editor.on('change', function () {
            editor.save();
        });

        editor.setSize(null, 700);
    </script>
}