@{
    ViewData["Title"] = "Page styles";
    var styles = (IEnumerable<PageStyle>)ViewBag.Styles;
}

@section Styles
{
    <style>
        .delEvt:hover {
            color: red;
            cursor: pointer;
        }

        .edit:hover {
            color: orange;
            cursor: pointer;
        }

        .delEvt, .edit {
            font-size: 1.5em;
            padding-left: 1em;
            float: right;
        }

        .save {
            margin: 1em;
            width: 7em;
        }
    </style>
}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Page styles</h4>
        <h6 class="card-subtitle">You can order styles by drag and drop</h6>
        <div class="table-responsive">
            <div class="mt-2">
                <div class="d-flex">
                    <div class="mr-auto">
                        <div class="form-group">
                            <a href="javascript:void(0)" id="addScript" class="btn btn-primary btn-sm">
                                <i class="mdi mdi-circle-edit-outline mr-2" aria-hidden="true"></i>Add style
                            </a>
                            <small>You can add new style.</small>
                        </div>
                    </div>
                </div>
            </div>

            <ul class="list-group" id="columns">
                @foreach (var item in styles)
                {
                    <li class="list-group-item column" pageId="@item.PageId" dataId="@item.Id" order="@item.Order" draggable="true">
                        <input type="text" class="form-control" style="width: 80%;" value="@item.Script" />
                        <span class="fa fa-close delEvt"></span>
                        @*<span class="fa fa-pencil edit"></span>*@
                    </li>
                }
            </ul>
            <button id="update" class="save btn btn-success">Update</button>
        </div>
    </div>
</div>

<input type="hidden" id="pageId" value="@ViewBag.PageId" />

@section Scripts{
    <script src="~/assets/js/builder/drag-and-drop-list.js"></script>
    <script>
		function evt1() {
			alert("f0");
			const t = $(this).parent().children()[0];
			const val = $(t).text().replace(/"/gi, "'");
			$(t).replaceWith(`<input class="form-control" value="${val}" style="width: 80%;" type="text" />`);
			$(this).removeClass("fa-pencil");

			this.removeEventListener("click", evt1);

			$(this).addClass("fa-check");

			$(".fa-check").on("click", function (e) {
				const t = $(this).parent().children()[0];
				const value = $(t).val();
				$(t).replaceWith(`<code>${value}</code>`);
				$(this).removeClass("fa-check");
				$(this).addClass("fa-pencil");
			});
		}

		//document.querySelector(".fa-pencil").addEventListener("click", evt1);

		function removeItem() {
			document.getElementById("columns").removeChild($(this).parent()[0]);
		}

		$(".delEvt").on("click", removeItem);

		$("#update").on("click", function () {
			const columns = $("#columns").children();
			var data = [];
			$.each(columns, function (index, col) {
				var script = $($(col).children()[0]).val();
				data.push({
					order: $(col).attr("order"),
					script: script,
					pageId: $(col).attr("pageId"),
					id: $(col).attr("dataId")
				});
			});

			$.ajax({
				url: "@Url.Action("UpdateStyles")",
				data: {
					styles: data
				},
				type: "post",
				success: function (data) {
					if (data.is_success) {
						location.reload();
					}
					else {
						alert("Fail to save data!");
					}
				},
				error: function (err) {
					console.log(err);
					alert("Fail to save data!");
				}
			});
		});

		$("#addScript").on("click", function () {
			const script = document.createElement("li");
			const order = $("#columns").children().length;
			const pageId = $("#pageId").val();
			script.setAttribute("class", "list-group-item column");
			script.setAttribute("pageId", pageId);
			script.setAttribute("order", order);
			script.setAttribute("dataId", "@Guid.Empty");

			const input = document.createElement("input");
			input.setAttribute("type", "text");
			input.setAttribute("class", "form-control");
			input.setAttribute("value", `<link rel="stylesheet" href="" />`);
		    input.setAttribute("style", "width: 80%;");
			script.appendChild(input);
			const span = document.createElement("span");
			span.setAttribute("class", "fa fa-close delEvt");
			span.addEventListener("click", removeItem);
			script.appendChild(span);
			document.querySelector("#columns").appendChild(script);
		 });
    </script>
}