@model IEnumerable<GR.Identity.Abstractions.ViewModels.UserProfileAddress.UserProfileAddressViewModel>

<div class="card">
    <div class="card-header d-flex">
        <span class="d-flex align-items-center">
            @Localizer["user_address_list"]
        </span>
        <a asp-controller="Users" asp-action="AddUserProfileAddress" asp-route-userId="" data-target="#modal-container" data-toggle="modal" class="btn btn-outline-primary  ml-auto">@Localizer["user_add_new_address"]</a>
    </div>
    <div class="card-body">
        @if (Model != null && Model.Any())
        {
            @foreach (var address in Model)
            {
                <div class="card mb-4">
                    <div class="card-header d-flex">
                        <span class="d-flex align-items-center">
                            @address.ContactName
                            @if (address.IsPrimary)
                            {
                                <span class="badge badge-primary ml-3">@Localizer["user_is_primary"]</span>
                            }
                        </span>
                        <div class="btn-group ml-auto" role="group">
                            <a asp-controller="Users" asp-action="EditUserProfileAddress" asp-route-addressId="@address.Id" data-target="#modal-container" data-toggle="modal" class="btn btn-success text-white ">@Localizer["edit"]</a>
                            <button asp-route-addressId="@address.Id" class="btn btn-danger text-white" onclick="deleteUserAddress('@address.Id')">@Localizer["delete"]</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="col-md-12 row">
                            <div class="col-md-6">
                                <p>
                                    <span class="weight-400">@Localizer["user_contact_name"] : </span><span class="text-muted">@address.ContactName</span>
                                </p>
                                <p>
                                    <span class="weight-400">@Localizer["system_phone"] : </span><span class="text-muted">@address.Phone</span>
                                </p>
                                <p>
                                    <span class="weight-400">@Localizer["user_address_line_1"] : </span><span class="text-muted">@address.AddressLine1</span>
                                </p>
                                <p>
                                    <span class="weight-400">@Localizer["system_country"] : </span><span class="text-muted">@address.Country</span>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    <span class="weight-400">@Localizer["user_address_line_2"] : </span><span class="text-muted">@address.AddressLine2</span>
                                </p>
                                <p>
                                    <span class="weight-400">@Localizer["system_city"] : </span><span class="text-muted">@address.City</span>
                                </p>
                                <p>
                                    <span class="weight-400">@Localizer["user_zip_code"] : </span><span class="text-muted">@address.ZipCode</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="row justify-content-center">
                <h2>@Localizer["user_not_found_any_address"]</h2>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
	function deleteUserAddress(addressId) {
		if (addressId !== "") {
			Swal.fire({
				title: window.translate("confirm_log_out_question"),
				type: "warning",
				showCancelButton: true,
				cancelButtonText: window.translate("cancel"),
				confirmButtonColor: "#3085d6",
				cancelButtonColor: "#d33",
				confirmButtonText: window.translate("delete_confirm_query")
			}).then((result) => {
				if (result.value) {
					$.ajax({
						type: "POST",
						url: "@Url.Action("DeleteUserAddress", "Users")",
						data: { id: addressId },
						success: (data) => {
							if (data.is_success) {
								$.ajax({
									method: 'GET',
									url: `@Url.Action("UserAddressPartial", "Users")?userId=${$("#userId").val()}`,
									success: (partialViewHtml) => {
										$("#addresList").html(partialViewHtml);
									},
									error: () => {
										$("#addresList").html(
											`<h2 class='text-danger'>${window.translate("system_server_not_respond")}</h2>`);
									}
								});
								Swal.fire({
									position: "top-end",
									type: "success",
									title: window.translate("row_deleted"),
									showConfirmButton: false,
									timer: 1500
								});

							} else {
								Swal.fire({
									position: "top-end",
									type: "error",
									title: window.translate("delete_fail"),
									showConfirmButton: true
								});
							}
						},
						error: () => {
							Swal.fire({
								position: "top-end",
								type: "error",
								title: window.translate("system_internal_error"),
								showConfirmButton: true
							});
						}
					});
				}
			});
		} else {
			Swal.fire({
				position: "top-end",
				type: "error",
				title: window.translate("system_toast_error"),
				showConfirmButton: true
			});
		}
	}
</script>