@model GR.Identity.Razor.Users.ViewModels.UserProfileViewModels.UserProfileEditViewModel

<form asp-controller="Users" asp-action="EditProfile" name="EditProfile" id="EditProfile" autocomplete="off" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="modal-header px-4">
        <h5 class="modal-title" id="exampleModalLabel">@Localizer["profile_edit"]</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="material-icons ">close</span>
        </button>
    </div>
    <div class="modal-body p-4">
        <div class="form-group">
            <label asp-for="UserFirstName">@Localizer["system_first_name"]</label>
            <input class="form-control" asp-for="UserFirstName">
            <span asp-validation-for="UserFirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserLastName">@Localizer["system_last_name"]</label>
            <input class="form-control" asp-for="UserLastName">
            <span asp-validation-for="UserLastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Birthday">@Localizer["system_birthday"]</label>
            <input class="form-control" asp-for="Birthday" value="@Model.Birthday.ToString("d")" type="text">
            <span asp-validation-for="Birthday" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserPhoneNumber">@Localizer["system_phone"]</label>
            <input class="form-control" asp-for="UserPhoneNumber">
            <span asp-validation-for="UserPhoneNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="AboutMe">@Localizer["description"]</label>
            <textarea asp-for="AboutMe" class="form-control" rows="3"></textarea>
        </div>
    </div>
    <div class="modal-footer px-4">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["cancel"]</button>
        <button type="submit" class="btn btn-primary">@Localizer["save"]</button>
    </div>
</form>

<script type="text/javascript">
   $(function () {
    const notifier = new ToastNotifier();
    const validator = new Validator();
    validator.reAttachValidationsRulesToForm("#EditProfile");
    $("form[name='EditProfile']").submit(function (e) {
        e.preventDefault();
        if (!$("#EditProfile").valid()) return;
        const form = $(this);
        const serialData = form.serialize();
        $.ajax({
            type: form.attr('method'),
            url: form.attr('action'),
            data: serialData
        }).done((data) => {
            if (data.is_success) {
                notifier.notify({ icon: "success", heading: "@Localizer["profile_updated_successfully"]" });
                $('#modal-container').modal('hide');
                setTimeout(location.reload(), 5000);
            } else {
                notifier.notifyErrorList(data.error_keys);
            }

        }).fail(() => {
            notifier.notify({ heading: "Error", text: "@Localizer["system_internal_error"]" });
        });
    });

    const date = $("#Birthday").val();
    if (date === "1/1/0001") $("#Birthday").val(null);

    $("#Birthday").datepicker({
        format: "dd/mm/yyyy",
        autoclose: true,
        todayHighlight: true,
        todayBtn: true,
        container: '#modal-container .modal-content',
        orientation: "bottom"
    });
});
</script>