@model IdentityServer4.EntityFramework.Entities.ApiResource
@inject IStringLocalizer Localizer
@{
    ViewData["Title"] = $"Edit {Model.Name} tenant";
}

<div class="card card-outline-primary">
    <div class="card-header">
        <h4 class="mb-0 text-white">Edit tenant @Model.Name</h4>
    </div>
    <div class="card-body">
        <form id="block_create" asp-action="Edit" role="form">
            @Html.HiddenFor(x => x.Id)
            <div class="form-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row p-t-20">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label" asp-for="Name"></label>
                            <input class="form-control" type="text" asp-for="Name" />
                            <span asp-validation-for="Name" class="text-danger"></span><br />
                            <small>Name of the api resource</small>
                        </div>
                        <div class="form-group">
                            <label class="control-label" asp-for="Description"></label>
                            <input class="form-control" type="text" asp-for="Description" />
                            <span asp-validation-for="Description" class="text-danger"></span><br />
                            <small>Description of the api resource</small>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="checkbox checkbox-success form-group">
                                    <input asp-for="Enabled" />
                                    <label asp-for="Enabled"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row button-group">
                <div class="col-lg-2 col-md-3">
                    <button type="submit" class="btn btn-block btn-success"> <i class="fa fa-check"></i> @Localizer["save"]</button>
                </div>
                <div class="col-lg-2 col-md-3">
                    <button type="reset" class="btn btn-block  btn-inverse"> @Localizer["reset"]</button>
                </div>
                <div class="col-lg-2 col-md-3">
                    <a asp-action="Index" class="btn btn-block btn-link"> @Localizer["back"]</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}