@model ST.Localization.Razor.ViewModels.LocalizationViewModels.LanguageCreateViewModel
@inject IStringLocalizer Localizer
@{
	ViewData["Title"] = "Change Status for language";
}

<div class="card card-outline-primary">
	<div class="card-header">
		<h4 class="mb-0 text-white">Edit localization for key: <span class="font-bold">@Model.Name</span> </h4>
	</div>
	<div class="card-block">
		<form asp-action="ChangeStatus" role="form">
			@Html.HiddenFor(x => x.Identifier)
			@Html.HiddenFor(x => x.Name)
			<div class="form-body">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<hr/>
				<div class="row p-t-20">
					<div class="col-md-6">
						<div class="form-group">
							@Html.LabelFor(x => x.Identifier, null, new {@class = "control-label"})
							@Html.TextBoxFor(x => x.Identifier, null, new {@class = "form-control", disabled = "disabled"})
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							@Html.LabelFor(x => x.Name, null, new {@class = "control-label"})
							@Html.TextBoxFor(x => x.Name, null, new {@class = "form-control", disabled = "disabled"})
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<ul class="icheck-list">
								<li>
									<input type="checkbox" asp-for="IsDisabled"/>
									<label asp-for="IsDisabled"></label>
								</li>
							</ul>


						</div>
					</div>
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-success">
					<i class="fa fa-check"></i> @Localizer["save"]</button>
				<button type="reset" class="btn btn-inverse"> @Localizer["reset"]</button>
				<a asp-action="Index" class="btn btn-link"> @Localizer["back"]</a>
			</div>
		</form>
	</div>
</div>