@model ST.CORE.ViewModels.KPIViewModels.UpdateKPIViewModel
@inject IStringLocalizer Localizer

@{
	ViewData["Title"] = $"Edit {Model.Name} menu";
}

<div class="card card-outline-primary">
	<div class="card-header">
		<h4 class="mb-0 text-white">Edit page type </h4>
	</div>
	<div class="card-body">
		<form asp-action="Edit" role="form">
			<div class="form-body">
				@Html.HiddenFor(x => x.Created)
				@Html.HiddenFor(x => x.Changed)
				@Html.HiddenFor(x => x.Id)
				@Html.HiddenFor(x => x.IsDeleted)
				@Html.HiddenFor(x => x.Author)
				@Html.HiddenFor(x => x.ModifiedBy)

				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="row p-t-20">
					<div class="col-md-12">
						<div class="form-group">
							<label class="control-label" asp-for="Name"></label>
							<input class="form-control" type="text" asp-for="Name" />
							<span asp-validation-for="Name" class="text-danger"></span><br />
							<small>Name of the KPI</small>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label class="control-label" asp-for="Description"></label>
							<input class="form-control" type="text" asp-for="Description" />
							<span asp-validation-for="Description" class="text-danger"></span><br />
							<small>Description of the KPI</small>
						</div>
					</div>

					<div class="col-md-12">
						<div class="form-group">
							<label asp-for="MeasurementUnitId"></label>
							<select asp-for="MeasurementUnitId" asp-items="@(new SelectList(Model.MeasurementUnits, "Id", "Name" ))" class="form-control" id="ddl"></select> @*onchange="configureDropDownLists(this,document.getElementById('ddl2'))"*@
							<span asp-validation-for="MeasurementUnitId" class="text-danger"></span>
						</div>
					</div>

					@*<div class="col-md-12">
						<div class="form-group">
							<label asp-for="PeriodId"></label>
							<select asp-for="PeriodId" asp-items="@(new SelectList(Model.Periods, "Id", "Name" ))" class="form-control"></select>
							<span asp-validation-for="PeriodId" class="text-danger"></span>
						</div>
					</div>

					<div class="col-md-12">
						<div class="form-group">
							<label asp-for="CategoryId"></label>
							<select asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories, "Id", "Name" ))" class="form-control"></select>
							<span asp-validation-for="CategoryId" class="text-danger"></span>
						</div>
					</div>

					<div class="col-md-12">
						<div class="form-group">
							<label asp-for="FulfillmentCriterionId"></label>
							<select asp-for="FulfillmentCriterionId" asp-items="@(new SelectList(Model.FulfillmentCriterion, "Id", "Name" ))" id="ddl2" class="form-control"></select>
							<span asp-validation-for="FulfillmentCriterionId" class="text-danger"></span>
						</div>
					</div>*@

					<div class="col-md-12">
						<div class="form-group">
							<label class="control-label" asp-for="ProcentGoal"></label>
							<input class="form-control" type="text" asp-for="ProcentGoal" />
							<span asp-validation-for="ProcentGoal" class="text-danger"></span><br />
							<small>Set the procent goal</small>
						</div>
					</div>

					<div class="col-md-12">
						<div class="form-group">
							<label class="control-label" asp-for="BoolGoal"></label>
							<input class="form-control" type="text" asp-for="BoolGoal" />
							<span asp-validation-for="BoolGoal" class="text-danger"></span><br />
							<small>Set the true/false</small>
						</div>
					</div>

					<div class="col-md-12">
						<div class="form-group">
							<label class="control-label" asp-for="IntGoal"></label>
							<input class="form-control" type="text" asp-for="IntGoal" />
							<span asp-validation-for="IntGoal" class="text-danger"></span><br />
							<small>Set the Number</small>
						</div>
					</div>

					@*<div class="col-md-12">
			<div class="form-group">
				<label class="control-label" asp-for="Status"></label>
				<input class="form-control" type="text" asp-for="Status" />
				<span asp-validation-for="Status" class="text-danger"></span><br />
				<small>Set the status</small>
			</div>
		</div>*@

					
						<div class="col-md-12">
							<div class="form-group">
								<div class="checkbox checkbox-success form-group">
									<input asp-for="Status" />
									<label asp-for="Status"></label>
								</div>
							</div>
						</div>
					
				</div>
			</div>
			<div class="row button-group">
				<div class="col-lg-2 col-md-3">
					<button type="submit" class="btn btn-block btn-success"> <i class="fa fa-check"></i> @Localizer["save"]</button>
				</div>
				<div class="col-lg-2 col-md-3">
					<button type="reset" class="btn btn-block  btn-inverse"> @Localizer["reset"]</button>
				</div>
				<div class="col-lg-2 col-md-3">
					<a asp-action="Index" class="btn btn-block btn-link"> @Localizer["back"]</a>
				</div>
			</div>
		</form>
	</div>
</div>


@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	<script type="text/javascript" language="javascript">
		function configureDropDownLists(ddl1) {
			alert("test");
			var dropDown = document.getElementById("ddl");
			$('#ddl2').empty();
			var selectedValue = dropDown.options[dropDown.selectedIndex].value;
			alert(selectedValue);
			$.ajax({
				type: "POST",
				url:  '@Url.Action("LoadDependencyNomenclator")',
				data: { 'Id': selectedValue },
				success: function (data) {
					debugger
					// Parse the returned json data
					var opts = $.parseJSON(data);
					debugger
					// Use jQuery's each to iterate over the opts value
					$.each(opts, function (i, d) {
						// You will need to alter the below to get the right values from your json object.  Guessing that d.id / d.modelName are columns in your carModels data
						$('#ddl2').append('<option value="' + d.Id + '">' + d.Name + '</option>');
					});
				}
			});

}

	</script>
}
